<div ng-controller="proveedoresController">
    <div id="prestamos" class="proveedores capaComun">
        <div class="migas"><span>{{ 'migasPan.compras' | translate }} > </span> {{ 'Proovedores.proveedores' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>
            <div class="menuTitulo">
                 <span>{{ 'Proovedores.comprasInmo' | translate }}</span>
            </div>
            <div class="contrataProovedores">
                <ul class="acordeon">
                    <accordion close-others="true" >
                        <li class="liContrataoProveedores" ng-repeat="proveedor in proveedoresInfo" >
                            <accordion-group is-open="status.open">
                                <accordion-heading >
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                    <div><span class="nombrePro" >{{proveedor.Nombre }}</span></div>
                                </accordion-heading>
                                <form class="rentaV" name="rentaV">
                                    <div>
                                        <span class="izqPr">{{ 'Proovedores.tipo' | translate }}: </span>
                                        <select class="dchaPr" ng-model="idProducto" ng-init="idProducto=0" ng-options="idProductoOptionsUno.value as idProductoOptionsUno.nombre for idProductoOptionsUno in idProductoOptions" ng-change="actualizarCosteUnitario(idProducto, proveedor.idProveedor, cant, pago);cargarGrafica(idProducto, proveedor.idProveedor);">
                                        </select>
                                    </div>
                                    <div><span>{{ 'Proovedores.cantidad' | translate }}:</span>
                                        <input select-on-click type="number" name="cant" ng-model="cant" ng-change="actualizarCosteTotal(pago, proveedor.idProveedor, cant)"/>

                                    </div>

                                    <div>
                                        <span>{{ 'Proovedores.formaPago' | translate }}: </span>
                                        <select class="dchaPr" ng-model="pago" ng-init="pago=0" ng-options="formaPagoItem.value as formaPagoItem.nombre for formaPagoItem in formaPagoOptions" ng-change="actualizarCosteTotal(pago, proveedor.idProveedor, cant)"></select>
                                    </div>
                                    <div>
                                        <span>{{ 'Proovedores.costeUni' | translate }}: </span>
                                        <!--<input select-on-click type="number" name="costeU" ng-model="costeU[proveedor.idProveedor - 1]" readonly/>-->
										<span class="costeSalarial" name="costeU" ng-model="costeU[proveedor.idProveedor - 1]" ng-currency sin-decimales=1>{{costeU[proveedor.idProveedor - 1]}}</span>
                                    </div>
                                    <div>
                                        <span>{{ 'Proovedores.costeTotal' | translate }}: </span>
                                        <!--<input class="oculto" select-on-click type="number" name="costeT" ng-model="costeT[proveedor.idProveedor - 1]" readonly/>
										<span class="costeSalarial">{{costeT[proveedor.idProveedor - 1] | customCurrency:"":",":".":0}}</span>-->
                                        <span class="costeSalarial" name="costeT" ng-model="costeT[proveedor.idProveedor - 1]" ng-currency sin-decimales=1 >{{costeT[proveedor.idProveedor - 1]}}</span>
                                    </div>

                                    <div class="capaBoton">
                                        <button class="form-control btnGuardar btn btn-success" ng-click="comprar(idProducto, cant, proveedor.idProveedor, pago, costeT[proveedor.idProveedor - 1])"  type="submit">{{ 'Proovedores.comprar' | translate }}</button>
                                    </div>

                                </form>
                            </accordion-group>
                        </li>


                    </accordion>
                </ul>

                <div class="capaCanvasPub">

                        <div class="capaCanvas">
                            <canvas id="chart" ></canvas>
                        </div>

                </div>
            </div>

        <div class="capaUps" ng-show="mostrarUps">
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">{{ 'Ups.ups' | translate }}</h1>
            <div class="ups_mensaje">
                <div><span>{{ errorProveedoresDatosVacios }}</span></div>
                <div><span>{{ errorProveedoresMaxEle }}</span></div>
                <div><span>{{ }}</span></div>

            </div>
            <a class="form-control btnGuardar btn btn-success" ng-click="cerrarUps()">{{ 'comunes.volver' | translate }}</a>
        </div>
    </div>
</div>

