<div  ng-controller="ayudaController">
    <div id="miEmpresa" class="capaComun capaAyuda">

        <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <div><span class="nombrePro">1. {{ 'Ayuda.introduccion' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                    </div>
                </accordion-heading>
                <div><span class="tituloSecundario">1.1 {{ 'Ayuda.introduccion' | translate }}</span></div>
                <div>
                    <p>
                        <br>
                        {{ 'Ayuda.introUnoUno' | translate }}
                       <br> <br>
                       {{ 'Ayuda.introUnoDos' | translate }}
                        <br> <br>
                        {{ 'Ayuda.introUnoTres' | translate }}
                        <br> <br>
                       {{ 'Ayuda.introUnoCuatro' | translate }} 
                        <br> <br>
                       {{ 'Ayuda.introUnoCinco' | translate }} 
                        <br>
						<ul class="listado_letras">
							<li>{{ 'Ayuda.introUnoSeis' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.introUnoSiete' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.introUnoOcho' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.introUnoNueve' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.introUnoDiez' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.introUnoOnce' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.introUnoDoce' | translate }} </li>
							<br>
						</ul>


                    </p>
                    <div><span class="tituloSecundario"> 1.2 {{ 'Ayuda.introDosTitulo' | translate }} </span></div>
                    <p>
                        <br>
						{{ 'Ayuda.introDosUno' | translate }} 
                        <br>
						<ul class="listado_letras">
							<li>{{ 'Ayuda.introDosDos' | translate }}  {{ 'Ayuda.introDosTres' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.introDosCuatro' | translate }}  {{ 'Ayuda.introDosCinco' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.introDosCincomedio' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.introDosSeis' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.introDosSiete' | translate }}</li>
								<br>
							</ul>
							<li>{{ 'Ayuda.introDosOcho' | translate }}  {{ 'Ayuda.introDosNueve' | translate }} </li>
							<br>
						</ul>
                       {{ 'Ayuda.introDosDiez' | translate }}
                        <br> <br>
                       {{ 'Ayuda.introDosOnce' | translate }} 
                        <br>
						<ul class="listado_numeros">
							<li>{{ 'Ayuda.introDosDoce' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.introDosTrece' | translate }}  </li>
							<br>
							<li>{{ 'Ayuda.introDosCatorce' | translate }} </li>
							<br>
						</ul>						
                    </p>
                    <div><span class="tituloSecundario ">1.3 {{ 'Ayuda.introTresTitulo' | translate }} </span></div>
                    <p>
                        <br>
                        <img class="constelacion" src="img/constelacion.png" > {{ 'Ayuda.introBotonConstelacion' | translate }} <br><br>
                       {{ 'Ayuda.introTresUno' | translate }} 
                        <br> <br>
                        <img src="img/ico_INFO.png" > {{ 'Ayuda.introBotonInfor' | translate }} <br><br>
                       {{ 'Ayuda.introTresDos' | translate }} 
                        <br> <br>
                        <img src="img/menuIcon.png" >  {{ 'Ayuda.introBotonMenu' | translate }} <br><br>
                        {{ 'Ayuda.introTresTres' | translate }} 
                        <br> <br>
                        <img src="img/calendar.png" > {{ 'Ayuda.introBotonPasarMes' | translate }} <br><br>
                        {{ 'Ayuda.introTresCuatro' | translate }}
                        <br> <br>
                        <img src="img/ico_Titu_Ayuda.png" > {{ 'Ayuda.introBotonAyuda' | translate }} <br><br>
                        {{ 'Ayuda.introTresCinco' | translate }} 
                        <br> <br>
                        <img src="img/ico_Titu_Alertas.png" > {{ 'Ayuda.introBotonAlertas' | translate }}<br><br>
                        {{ 'Ayuda.introTresSeis' | translate }} 
                        <br> <br>
                        <img src="img/ico_Titu_Opciones.png" > {{ 'Ayuda.introBotonOpciones' | translate }}  <br><br>
                         {{ 'Ayuda.introTresSiete' | translate }}
                    </p>

                </div>
            </accordion-group>

            <accordion-group is-open="status.open2">
                <accordion-heading>
                    <div><span class="nombrePro">2. {{ 'Ayuda.empresaTitulo' | translate }} </span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open2, 'glyphicon-chevron-down': !status.open2}"></i>
                    </div>
                </accordion-heading>
                <div><span class="tituloSecundario">2.1 {{ 'Ayuda.empresa' | translate }} </span></div>
                <div>
                    <p>
                        <br> 
						{{ 'Ayuda.empresaDosUno' | translate }}
						<br> <br>
						{{ 'Ayuda.empresaDosDos' | translate }}
						<ul>
							<li>{{ 'Ayuda.empresaDosTres' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.empresaDosCuatro' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.empresaDosCinco' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.empresaDosSeis' | translate }} </li> 
						</ul>
                      <br>

                    </p>
                    <div><span class="tituloSecundario">2.2 {{ 'Ayuda.empresaBalance' | translate }} </span></div>
                    <p>
                        <br>
                      {{ 'Ayuda.empresaDosSiete' | translate }} 
                        <br> <br>
                        <ul class="listado_letras">
							<li>{{ 'Ayuda.empresaDosOcho' | translate }}</li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaDosNueve' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaDosDiez' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaDosOnce' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaDosDoce' | translate }}</li>
								<br>
							</ul>
							<li>{{ 'Ayuda.empresaDosTrece' | translate }}</li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaDosCatorce' | translate }} </li>
								<br>
								<li>{{ 'Ayuda.empresaDosQuince' | translate }} </li>
								<br>
								<li>{{ 'Ayuda.empresaDosDieciseis' | translate }} </li>
								<br>
								<li>{{ 'Ayuda.empresaDosDiecisiete' | translate }} </li>								
								<br>
							</ul>
						</ul>
                        {{ 'Ayuda.empresaDosDieciOcho' | translate }} 
                        <br> <br>
                        <ul class="listado_letras">
							<li>{{ 'Ayuda.empresaDosDieciNueve' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaDosVeintiUno' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaDosVeintiDos' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaDosVeintiTres' | translate }}</li>
								<br>
							</ul>
						<li>{{ 'Ayuda.empresaDosVeintiCuatro' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaDosVeintiCinco' | translate }}</li>
								<br>
							</ul>
						
						<li>{{ 'Ayuda.empresaDosVeintiSeis' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaDosVeintiOcho' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaDosVeintiNueve' | translate }}</li>
								<br>
							</ul>
						</ul>                       
                    </p>
                    <div><span class="tituloSecundario ">2.3  {{ 'Ayuda.empresaTresTitulo' | translate }} </span></div>
                    <p>
						<br>
						{{ 'Ayuda.empresaTresUno' | translate }} 
                        <br> <br>
						{{ 'Ayuda.empresaTresDos' | translate }} 
                        <br> <br>
						{{ 'Ayuda.empresaTresTres' | translate }} 
                        <br> <br>
						<ul class="listado_letras">
							<li>{{ 'Ayuda.empresaTresCuatro' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaTresCinco' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaTresSeis' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaTresOcho' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaTresNueve' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaTresDiez' | translate }}</li>
								<br>
							</ul>
							<li>{{ 'Ayuda.empresaTresOnce' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaTresDoce' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaTresTrece' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaTresCatorce' | translate }}</li>
								<br>
							</ul>
							<li>{{ 'Ayuda.empresaTresQuince' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaTresDieciseis' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaTresDiecesiete' | translate }}</li>
								<br>								
							</ul>
							<li>{{ 'Ayuda.empresaTresDieciocho' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaTresDiecinueve' | translate }}</li>
								<br>								
							</ul>
							<li>{{ 'Ayuda.empresaTresVeinte' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaTresVeintiuno' | translate }}</li>
								<br>								
							</ul>
							<li>{{ 'Ayuda.empresaTresVeintidos' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaTresVeintitres' | translate }}</li>
								<br>	
								<li>{{ 'Ayuda.empresaTresVeinticuatro' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaTresVeinticinco' | translate }}</li>
								<br>								
							</ul>
							<li>{{ 'Ayuda.empresTresVeintiSeis' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresTresVeintiSiete' | translate }}</li>
								<br>															
							</ul>
						</ul>
                    </p>
                    <div><span class="tituloSecundario ">2.4 {{ 'Ayuda.empresCuatroTitulo' | translate }} </span></div>
                    <p>
						<br>
                        {{ 'Ayuda.empresCuatroUno' | translate }} 
                        <br>						
						<ul class="listado_letras">
							<li>{{ 'Ayuda.empresCuatroDos' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresCuatroTres' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresCuatroCuatro' | translate }}</li>
								<br>
								<ul class="listado_puntos">
									<li>{{ 'Ayuda.empresCuatroCinco' | translate }}</li>
									<br>
									<li>{{ 'Ayuda.empresCuatroSeis' | translate }}</li>
									<br>
									<li>{{ 'Ayuda.empresCuatroSiete' | translate }}</li>
									<br>
									<li>{{ 'Ayuda.empresCuatroOcho' | translate }}</li>
									<br>
								</ul>
								<li>{{ 'Ayuda.empresCuatronueve' | translate }}</li>
								<br>
								<ul class="listado_puntos">
									<li>{{ 'Ayuda.empresCuatroDiez' | translate }}</li>
									<br>
								</ul>
								<li>{{ 'Ayuda.empresCuatroOnce' | translate }}</li>
								<br>
								<ul class="listado_puntos">
									<li>{{ 'Ayuda.empresCuatroTrece' | translate }}</li>
									<br>
									<li>{{ 'Ayuda.empresCuatroCatorce' | translate }}</li>
									<br>
								</ul>
							</ul>	
							<li>{{ 'Ayuda.empresCuatroQuince' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresCuatroDieciseis' | translate }}</li>
								<br>
								<ul class="listado_puntos">
									<li>{{ 'Ayuda.empresCuatroDiecisiete' | translate }}</li>
									<br>
									<li>{{ 'Ayuda.empresCuatroDiecinueve' | translate }}</li>
									<br>
								</ul>
								<li>{{ 'Ayuda.empresCuatroVeinte' | translate }}</li>
								<br>
								<ul class="listado_puntos">								
									<li>{{ 'Ayuda.empresCuatroDiecinueve' | translate }}</li>
									<br>									
								</ul>
							</ul>
							<li>{{ 'Ayuda.empresCuatroVeintiuno' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresCuatroVdos' | translate }}</li>
								<br>
								<ul class="listado_puntos">								
									<li>{{ 'Ayuda.empresCuatroVtres' | translate }}</li>
									<br>									
								</ul>
								<li>{{ 'Ayuda.empresCuatroVcuatro' | translate }}</li>
								<br>
								<ul class="listado_puntos">
									<li>{{ 'Ayuda.empresCuatroVcinco' | translate }}</li>
									<br>
									<li>{{ 'Ayuda.empresCuatroVcincoMedio' | translate }}</li>
									<br>
								</ul>
							</ul>
							<li>{{ 'Ayuda.empresCuatroVseis' | translate }} </li>
							<br>
							<ul class="listado_puntos">
								<li>{{ 'Ayuda.empresaCuatroVocho' | translate }}</li>
								<br>
								<li>{{ 'Ayuda.empresaCuatroVnueve' | translate }}</li>
								<br>
							</ul>
						</ul>
                    </p>

                </div>
            </accordion-group>

            <accordion-group is-open="status.open3">
                <accordion-heading>
                    <div><span class="nombrePro">3. {{ 'Ayuda.financiera' | translate }} </span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open3, 'glyphicon-chevron-down': !status.open3}"></i>
                    </div>
                </accordion-heading>
                <div><span class="tituloSecundario">3.1 {{ 'Ayuda.financieraUnoTitulo' | translate }} </span></div>
                <div>
                    <p>
                        <br>
                       {{ 'Ayuda.financieraUnoUno' | translate }}
                        <br> <br>
                        {{ 'Ayuda.financieraUnoDos' | translate }}
                        <br> <br>
                       {{ 'Ayuda.financieraUnoTres' | translate }} 
					    <br>
                    </p>
                    <div><span class="tituloSecundario">3.2 {{ 'Ayuda.financieraDosTitulo' | translate }} </span></div>
                    <p>
                        <br>
                       {{ 'Ayuda.financieraDosUno' | translate }}
                        <br> <br>
						<ul class="listado_letras">
							<li>{{ 'Ayuda.financieraDosDos' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.financieraDosTres' | translate }}</li>
							<br>
							<li>{{ 'Ayuda.financieraDosCuatro' | translate }} </li>
							<br>
						</ul>
                        {{ 'Ayuda.financieraDosCinco' | translate }} 
						 <br>
                    </p>
                    <div><span class="tituloSecundario ">3.3 {{ 'Ayuda.financieraTresTitulo' | translate }} </span></div>
                    <p>
                        <br>
                         {{ 'Ayuda.financieraTresUno' | translate }}
                        <br> <br>
                        {{ 'Ayuda.financieraTresDos' | translate }}
						 <br>
                    </p>

                </div>

            </accordion-group>

            <accordion-group is-open="status.open4">
                <accordion-heading>
                    <div><span class="nombrePro">4. {{ 'Ayuda.marketing' | translate }} </span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open4, 'glyphicon-chevron-down': !status.open4}"></i>
                    </div>

                </accordion-heading>
                <div><span class="tituloSecundario">4.1 {{ 'Ayuda.marketingUnoTitulo' | translate }} </span></div>
                <div>
                    <p>
                        <br>
                       {{ 'Ayuda.marketingUnoUno' | translate }}
                        <br> <br>
                       {{ 'Ayuda.marketingUnoDos' | translate }} 
                        <br> <br>
                        {{ 'Ayuda.marketingUnoTres' | translate }}
                        <br>
						<ul class="listado_letras">
							<li>{{ 'Ayuda.marketingUnoCuatro' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.marketingUnoCinco' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.marketingUnoSeis' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.marketingUnoSiete' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.marketingUnoOcho' | translate }} </li>
							<br>
						</ul>                        
						{{ 'Ayuda.marketingUnoNueve' | translate }} 
						<br>
                    </p>
                    <div><span class="tituloSecundario">4.2 {{ 'Ayuda.marketingDosTitulo' | translate }} </span></div>
                    <p>
                        <br>
                      {{ 'Ayuda.marketingDosUno' | translate }} 

                        <br> <br>
                       {{ 'Ayuda.marketingDosDos' | translate }}  

                    </p>
                    <div><span class="tituloSecundario ">4.3 {{ 'Ayuda.marketingTresTitulo' | translate }}  </span></div>
                    <p>
                        <br>
                       {{ 'Ayuda.marketingTresUno' | translate }} 

                        <br> <br>
                        {{ 'Ayuda.marketingTresDos' | translate }}

                        <br> <br>
                        {{ 'Ayuda.marketingTresDosDos' | translate }} 

                        <br> <br>
                         {{ 'Ayuda.marketingTresTres' | translate }}

                        <br> <br>
                        {{ 'Ayuda.marketingTresCuatro' | translate }}  

                    </p>

                </div>
            </accordion-group>
            <accordion-group is-open="status.open5">
                <accordion-heading>
                    <div><span class="nombrePro">5. {{ 'Ayuda.compras' | translate }}   </span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open5, 'glyphicon-chevron-down': !status.open5}"></i>
                    </div>

                </accordion-heading>
                <div><span class="tituloSecundario">5.1 {{ 'Ayuda.comprasUnoTitulo' | translate }}  </span></div>
                <div>
                    <p>
                        <br>
                       {{ 'Ayuda.comprasUnoUno' | translate }}

                        <br> <br>
                       {{ 'Ayuda.comprasUnoDos' | translate }}

                        <br> <br>
                      {{ 'Ayuda.comprasUnoTres' | translate }} 
                        <br> <br>
                      {{ 'Ayuda.comprasUnoCuatro' | translate }}  
                        <br> <br>
                       {{ 'Ayuda.comprasUnoCinco' | translate }}  

                        <br> <br>
                        {{ 'Ayuda.comprasUnoSeis' | translate }} 

                        <br> <br>
                        {{ 'Ayuda.comprasUnoSiete' | translate }} 

                        <br> <br>
                        {{ 'Ayuda.comprasUnoOcho' | translate }} 


                    </p>
                    <div><span class="tituloSecundario">5.2  {{ 'Ayuda.comprasDosTitulo' | translate }} </span></div>
                    <p>
                        <br>
                       {{ 'Ayuda.comprasDosUno' | translate }}

                    </p>


                </div>
            </accordion-group>

            <accordion-group is-open="status.open6">
                <accordion-heading>
                    <div><span class="nombrePro">6. {{ 'Ayuda.rrhh' | translate }} </span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open6, 'glyphicon-chevron-down': !status.open6}"></i>
                    </div>

                </accordion-heading>
                <div><span class="tituloSecundario">6.1 {{ 'Ayuda.rrhhUnoTitulo' | translate }} </span></div>
                <div>
                    <p>
                        <br>
                      {{ 'Ayuda.rrhhUnoUno' | translate }} 
                        <br> <br>
                       {{ 'Ayuda.rrhhUnoDos' | translate }} 
                        <br>
						<ul class="listado_letras">
							<li>{{ 'Ayuda.marketingUnoCuatro' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoCinco' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoSeis' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoSiete' | translate }} </li>
							<br>
						</ul>
						{{ 'Ayuda.rrhhUnoOcho' | translate }}  
						<br> <br>
                        {{ 'Ayuda.rrhhUnoNueve' | translate }}  
                        <br> <br>
                        {{ 'Ayuda.rrhhUnoDiez' | translate }}  
                        <br> <br>
						{{ 'Ayuda.rrhhUnoOnce' | translate }}    
                        <br>
						<br>
						<ul class="listado_letras">
							<li>{{ 'Ayuda.rrhhUnoDoce' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoTrece' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoCatorce' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoQuince' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoDieciseis' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoDiecisiete' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhUnoDieciocho' | translate }} </li>
							<br>
						</ul>
                        {{ 'Ayuda.rrhhUnoDiecinueve' | translate }} 
						<br>
                    </p>
                    <div><span class="tituloSecundario">6.2 {{ 'Ayuda.rrhhDosTitulo' | translate }} </span></div>
                    <p>
                        <br>
                       {{ 'Ayuda.rrhhDosUno' | translate }}
                        <br> <br>
                        {{ 'Ayuda.rrhhDosDos' | translate }}
                        <br> <br>
                        {{ 'Ayuda.rrhhDosTres' | translate }}
                        <br> <br>
                         {{ 'Ayuda.rrhhDosCuatro' | translate }} 
                        <br> <br>
                        {{ 'Ayuda.rrhhDosCinco' | translate }} 

                        <br> <br>
                        {{ 'Ayuda.rrhhDosSeis' | translate }}


                    </p>
                    <div><span class="tituloSecundario">6.3 {{ 'Ayuda.rrhhTresTitulo' | translate }} </span></div>
                    <p>
                        <br>
                       {{ 'Ayuda.rrhhTresUno' | translate }}
                        <br> <br>
                         {{ 'Ayuda.rrhhTresDos' | translate }} 
                        <br>
						<ul class="listado_letras">
							<li>{{ 'Ayuda.rrhhTresTres' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhTresCuatro' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhTresCinco' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.rrhhTresSeis' | translate }} </li>
							<br>
						</ul>
						{{ 'Ayuda.rrhhTresSiete' | translate }}   
						<br>
                    </p>


                </div>
            </accordion-group>

            <accordion-group is-open="status.open7">
                <accordion-heading>
                    <div><span class="nombrePro">7. {{ 'Ayuda.multijugador' | translate }} </span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open7, 'glyphicon-chevron-down': !status.open7}"></i>
                    </div>
                </accordion-heading>
                <div><span class="tituloSecundario"> {{ 'Ayuda.multijugadorUnoTitulo' | translate }} </span></div>

					<div>
	                    <p>
	                        <br>
	                       {{ 'Ayuda.multijugadorUnoUno' | translate }}
							<br>
						

						<ul class="listado_letras">
							<li>{{ 'Ayuda.multijugadorUnoDos' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.multijugadorUnoTres' | translate }}</li>
							<br>
							<li>{{ 'Ayuda.multijugadorUnoCuatro' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.multijugadorUnoCinco' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.multijugadorUnoSeis' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.multijugadorUnoSiete' | translate }} </li>

						</ul>
           			 </p>

                </div>

            </accordion-group>


            <accordion-group is-open="status.open8">
                <accordion-heading>
                    <div><span class="nombrePro">8. {{ 'Ayuda.valoracion' | translate }}  </span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open8, 'glyphicon-chevron-down': !status.open8}"></i>
                    </div>

                </accordion-heading>
                <div><span class="tituloSecundario"></span></div>
                <div>
                    <p>
                        <br>
                       {{ 'Ayuda.valoraciónUnoUno' | translate }} 
                        <br> <br>
                     {{ 'Ayuda.valoracionUnoDos' | translate }} 

                        <br> <br>
                      {{ 'Ayuda.valoracionUnoTres' | translate }}   
                        <ul class="listado_letras">
							<li>{{ 'Ayuda.valoracionUnoCuatro' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.valoracionUnoCinco' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.valoracionUnoSeis' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.valoracionUnoSiete' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.valoracionUnoOcho' | translate }} </li>
							<br>
							<li>{{ 'Ayuda.valoracionUnoNueve' | translate }} </li>
							<br>
						</ul>
                    </p>



                </div>
            </accordion-group>
			<!--
			<accordion-group is-open="status.open8">
                <accordion-heading>
                    <div><span class="nombrePro">8. {{ 'Ayuda.avisolegal' | translate }}  </span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open8, 'glyphicon-chevron-down': !status.open8}"></i>
                    </div>
                </accordion-heading>
                <div><span class="tituloSecundario"></span></div>
                <div>
                    <p>
                        <br>
                       {{ 'Ayuda.avisolegalUnoUno' | translate }} 
                        <br> <br>
                     {{ 'Ayuda.avisolegalUnoDos' | translate }} 

                        <br> <br>
                      {{ 'Ayuda.avisolegalUnoTres' | translate }}   
                    </p>
                </div>
            </accordion-group>
			-->
			
        </accordion>

    </div>

</div>


