<div class="fondoNuevaPartida" ng-controller="PartidaController">
    <div id="nuevaPartida" class="capaNuevaPartida">
        <div class="titulo">{{ 'MenuPrincipal.nuevaPartida' | translate }}</div>
        <div class="groupOptions">
            <div class="groupOptionsText">
				<span class="optionsText">{{ 'Partida.avisoMaxJornadas' | translate }}</span>
                <span class="optionsText">{{ 'Partida.seleccionaSit' | translate }}:</span>
			</div>

            <div class="group groupCreacion" >
                <div ng-init="togFund=1" class="groupImage" ng-click="guardarFundacion(1);togFund=1">
                    <img ng-if="togFund==1" ng-src="img/empresa_Fundacion_R.gif" >
                    <img ng-if="togFund!=1" ng-src="img/empresa_Fundacion.gif" >
                    <span>{{ 'Partida.creacion' | translate }}</span>
                </div>
                <div class="groupImage" ng-click="guardarFundacion(2);togFund=2">
                    <img ng-if="togFund==2" ng-src="img/empresa_6meses_R.gif" >
                    <img ng-if="togFund!=2" ng-src="img/empresa_6meses.gif" >
                    <span>{{ 'Partida.seismesesCrea' | translate }}</span>
                </div>
                <div class="groupImage" ng-click="guardarFundacion(3);togFund=3">
                    <img ng-if="togFund==3" ng-src="img/empresa_12meses_R.gif" >
                    <img ng-if="togFund!=3" ng-src="img/empresa_12meses.gif" >
                    <span>{{ 'Partida.docemesesCrea' | translate }}</span>
                </div>

            </div>
            <div class="separador"></div>
        </div>
        <div class="groupOptions">
            <div class="groupOptionsText">
                <span class="optionsText">{{ 'Partida.dificultad' | translate }}</span>
            </div>
            <div class="group groupDificultad">
                <div ng-init="togDif=4" class="groupImage" ng-click="guardarDificultad(1);togDif=4">
                    <img ng-if="togDif==4" ng-src="img/mercado_Facil_R.gif" >
                    <img ng-if="togDif!=4" ng-src="img/mercado_Facil.gif" >
                    <span>{{ 'Partida.facil' | translate }}</span>
                </div>
                <div class="groupImage" ng-click="guardarDificultad(2);togDif=5">
                    <img ng-if="togDif==5" ng-src="img/mercado_Medio_R.gif" >
                    <img ng-if="togDif!=5" ng-src="img/mercado_Medio.gif" >
                    <span>{{ 'Partida.medio' | translate }}</span>
                </div>
                <div class="groupImage" ng-click="guardarDificultad(3);togDif=6">
                    <img ng-if="togDif==6" ng-src="img/mercado_Dificil_R.gif" >
                    <img ng-if="togDif!=6" ng-src="img/mercado_Dificil.gif" >
                    <span>{{ 'Partida.dificil' | translate }}</span>
                </div>

                <div class="tipo ">
                    <span class="optionsText izqTipo">{{ 'Partida.tipoImpo' | translate }}:</span>
                    <div class="dchaTipo">
                        <select ng-model="tipoImpositivo" ng-init="tipoImpositivo=10">
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>

                        </select>

                    </div>

                </div>
            </div>
        </div>
        <!--
        <div class="">
            <span>Tipo de Partida</span>
            <div class="group" >
                <button type="button" class="btn" ng-class='{"btn btn-info":togTipo==7, "btn":togTipo!=7}' ng-click="guardarTipoPartida(1);togTipo=7">MonoUsuario</button>
                <button type="button" class="btn" ng-class='{"btn btn-info":togTipo==8, "btn":togTipo!=8}' ng-click="guardarTipoPartida(2);togTipo=8">MultiUsuario</button>
            </div>
        </div>
        -->
        <div class="groupOptions">
            <a class="btn btn-success btnGuardar" ng-click="crearNuevaPartida()">{{ 'Partida.comenzar' | translate }}</a>
        </div>


    </div>
</div>


