
       <!-- <h2>{{ 'HEADLINE' | translate }}</h2>
        <p>{{ 'INTRO_TEXT' | translate }}</p>
        <span>Idioma</span>
        <img src="img/bandera_ESPANA.gif" ng-click="changeLanguage('es')"/>
        <img src="img/bandera_INGLATERRA.gif" ng-click="changeLanguage('en')"/>
        <img src="img/bandera_PORTUGAL.gif" ng-click="changeLanguage('pt')"/>-->

<div class="fondoNuevaPartida capaOpciones" ng-controller="opcionesController">
    <div id="nuevaPartida" class="capaOpciones">
        <div class="titulo">{{ 'Opciones.configuracion' | translate }}</div>
        <div class="groupOptions">
            <span class="optionsText">{{ 'Opciones.seleccionaIdioma' | translate }}</span>
            <div class="group ">
                <div class="group_monedas">
                    <div class="groupImage" ng-click="updateCurrency(MONEDAS.EURO)">
                        <img ng-if="togDif==MONEDAS.EURO" ng-src="img/moneda_EURO_R.gif" >
                        <img ng-if="togDif!=MONEDAS.EURO" ng-src="img/moneda_EURO.gif" >
                        <span>{{ 'Opciones.euro' | translate }}</span>
                    </div>
                    <div class="groupImage" ng-click="updateCurrency(MONEDAS.LIBRA)">
                        <img ng-if="togDif==MONEDAS.LIBRA" ng-src="img/moneda_LIBRA_R.gif" >
                        <img ng-if="togDif!=MONEDAS.LIBRA" ng-src="img/moneda_LIBRA.gif" >
                        <span>{{ 'Opciones.libra' | translate }}</span>
                    </div>
                </div>
                <div class="group_monedas">
                    <div class="groupImage" ng-click="updateCurrency(MONEDAS.DOLAR)">
                        <img ng-if="togDif==MONEDAS.DOLAR" ng-src="img/moneda_DOLAR_USA_R.gif" >
                        <img ng-if="togDif!=MONEDAS.DOLAR" ng-src="img/moneda_DOLAR_USA.gif" >
                        <span>{{ 'Opciones.dolar' | translate }}</span>
                    </div>
                    <div class="groupImage" ng-click="updateCurrency(MONEDAS.PESO)">
                        <img ng-if="togDif==MONEDAS.PESO" ng-src="img/moneda_PESO_MEJICANO_R.gif" >
                        <img ng-if="togDif!=MONEDAS.PESO" ng-src="img/moneda_PESO_MEJICANO.gif" >
                        <span>{{ 'Opciones.peso' | translate }}</span>
                    </div>
                </div>


            </div>
            <div class="separador"></div>

        </div>
        <div class="groupOptions">

            <div class="group groupIdioma " >
                <div ng-class="{'groupIdiomas groupImage seleccionadoMoneda':idioma=='es', 'groupIdiomas groupImage':idioma!='es' }" ng-click="changeLanguage('es');">
                    <span>{{ 'Opciones.espanol' | translate }}</span>
                </div>
                <div class="groupImage" ng-class="{'groupIdiomas groupImage seleccionadoMoneda':idioma=='en', 'groupIdiomas groupImage':idioma!='en' }" ng-click="changeLanguage('en');">
                    <span>{{ 'Opciones.english' | translate }}</span>
                </div>
                <div class="groupImage" ng-class="{'groupIdiomas groupImage seleccionadoMoneda':idioma=='pt', 'groupIdiomas groupImage':idioma!='pt' }" ng-click="changeLanguage('pt');">
                    <span>{{ 'Opciones.portugues' | translate }}</span>
                </div>
				<div class="groupImage" ng-class="{'groupIdiomas groupImage seleccionadoMoneda':idioma=='de', 'groupIdiomas groupImage':idioma!='de' }" ng-click="changeLanguage('de');">
                    <span>{{ 'Opciones.deutsche' | translate }}</span>
                </div>

            </div>


        </div>
        <div class="groupOptions">
            <a class="btn btn-success btnGuardar" ng-click="aceptar(idioma)">{{ 'comunes.aceptar' | translate }}</a>
        </div>



    </div>
</div>


