<div ng-controller="contratacionController">
    <div id="prestamos" class="contratacion capaComun">
        <div class="migas"><span>{{ 'migasPan.rrhh' | translate }} > </span>{{ 'Contratacion.contraDespido' | translate }} <img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>

        <div ng-show="!showActions" ng-swipe-left="showActions = true" >
            <div class ="galeria">
                <span>{{mesVisualizadoGeneral}}</span>
                <img src="img/galeria_1.jpg"/><br>
                <span class="tituloContratacion">{{ 'Contratacion.contratacion' | translate }}</span>
            </div>
            <div class="menuTitulo menuContratacion">

                <div class="izqMenCont">
                    <span ng-click="perfiles(2, 0)">{{ 'Contratacion.disenio' | translate }}</span>
                    <input type="checkbox" ng-model="checkDiseno" value="disenador" ng-click="perfiles(2, 0)">
                </div>
                <div class="dchaMenCont">
                    <span ng-click="perfiles(1, 0)">{{ 'Contratacion.programacion' | translate }}</span>
                    <input type="checkbox" ng-model="checkProgramacion" value="programador" ng-click="perfiles(1, 0)">
                </div>

            </div>
            <div class="contratacionPersonas">
                <ul class="acordeon">
                    <accordion close-others="true">
                        <li ng-repeat="poblacion in poblacionInfo">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    <div class="poblacionDetalle">
                                        <div class="izqPoblacion">
                                            <img src="img/{{poblacion.Imagen}}.jpg"/>
                                        </div>
                                        <div class="dchaPoblacion">
                                            <div><span class="nombrePro">{{poblacion.Nombre}} {{poblacion.Apellidos}}</span></div>
                                            <div><span></span>{{ 'Contratacion.edad' | translate }}: <span class="verde">{{poblacion.Edad}}</span></div>
                                            <div><span></span>{{ 'Contratacion.formacion' | translate }}: <span class="verde">{{poblacion.Estudios_i18N | translate}}</span></div>
                                            <div><span></span>{{ 'Contratacion.salarioDes' | translate }}: <span class="verde" ng-currency ng-model="poblacion.SalarioDeseado" sin-decimales=1 >{{poblacion.SalarioDeseado}} </span>
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                            </div>
                                        </div>
                                    </div>

                                </accordion-heading>
                                <div class="verdeOscuro">
                                    <ul>
                                        <li>{{poblacion.Comentario1_i18N | translate}}</li>
                                        <li>{{poblacion.Comentario2_i18N | translate}}</li>
                                        <li>{{poblacion.Comentario3_i18N | translate}}</li>
                                    </ul>

                                </div>
                                <form class="rentaV" name="formCont" ng-model="formCont">

                                    <div>
                                        <span>{{ 'Contratacion.tipoContrato' | translate }}: </span>
                                        <select class="dchaPr" ng-model="tipoContrato" ng-init="tipoContrato=4">
                                            <option value="1" ng-selected="selected">{{ 'Contratacion.practicas' | translate }}</option>
                                            <option value="2">{{ 'Contratacion.tiempoParcial' | translate }}</option>
                                            <option value="3">{{ 'Contratacion.temporal' | translate }}</option>
                                            <option value="4">{{ 'Contratacion.indefinido' | translate }}</option>
                                        </select>
                                    </div>
                                    <div><span>{{ 'Contratacion.salarioOfre' | translate }}: </span><input id="salarioOfr" name="salarioOfrConvertido" type="tel" ng-init="salarioOfrConvertido=0"  ng-model="salarioOfrConvertido" ng-currency campo-editable customer-info="salarioOfr" sin-decimales=1 select-on-click/></div>
                                    <!--<div><span>Salario ofrecido: {{formCont.salarioOfr.$dirty}}</span></div>-->
                                    <div><span>{{ 'Contratacion.costeSalarial' | translate }}: </span><span class="costeSalarial" ng-currency ng-model="salarioOfr" multip="multi"  sin-decimales=1> {{salarioOfr}}</span></div>
                                    <div class="capaBoton">
                                        <button class="form-control btnGuardar btn btn-success" ng-click="contratar(poblacion.idPoblacion, tipoContrato, salarioOfr, poblacion.Perfil, poblacion.estado)"  type="submit">{{ 'Contratacion.contratar' | translate }}</button>
                                    </div>

                                </form>
                            </accordion-group>
                        </li>

                    </accordion>
                </ul>


            </div>
        </div>


        <div ng-show="showActions" ng-swipe-right="showActions = false" >
            <div class ="galeria">
                <span>{{mesVisualizadoGeneral}}</span>
                <img src="img/galeria_2.jpg"/><br>
                <span class="tituloContratacion">{{ 'Contratacion.despido' | translate }}</span>
            </div>
            <div class="menuTitulo menuContratacion">

                <div class="izqMenCont">
                    <span ng-click="contratados(2)">{{ 'Contratacion.disenio' | translate }}</span>
                    <input type="checkbox" ng-model="checkContDisenador" value="disenador" ng-click="contratados(2)">
                </div>
                <div class="dchaMenCont">
                    <span ng-click="contratados(1)">{{ 'Contratacion.programacion' | translate }}</span>
                    <input type="checkbox" ng-model="checkContProgramador" value="programador" ng-click="contratados(1)">
                </div>
                <!--
                <div class="izqMenCont">
                    <span>DISEÑO</span>
                    <input type="radio" ng-model="contratadoPersona" value="1" ng-click="contratados(2)">
                </div>
                <div class="dchaMenCont">
                    <span>PROGRAMACIÓN </span>
                    <input type="radio" ng-model="contratadoPersona" value="2" ng-click="contratados(1)">
                </div>
                -->

            </div>
            <div class="contratacionPersonas despedir">
                <ul class="acordeon">
                    <accordion close-others="true">
                        <li ng-repeat="contratados in contratadosInfo">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    <div class="poblacionDetalle">
                                        <div class="izqPoblacion">
                                            <img src="img/{{contratados.Imagen}}.jpg"/>
                                        </div>
                                        <div class="dchaPoblacion">
                                            <div><span class="nombrePro">{{contratados.Nombre}} {{contratados.Apellidos}}</span></div>
                                            <div><span></span>{{ 'Contratacion.costeSalarial' | translate }}: <span class="verde" ng-currency ng-model="contratados.salarioActual" multip="multi"  sin-decimales=1>{{contratados.salarioActual * multi}} </span></div>
                                            <div><span></span>{{ 'Contratacion.costeDespido' | translate }}: <span class="verde" ng-currency ng-model="contratados.despido" sin-decimales=1>{{ contratados.despido}} </span></div>
                                            <div class="capaBoton">
                                                <button class="form-control btnGuardar btn btn-success" ng-click="despedir(contratados.idPoblacion, contratados.Perfil, contratados.antiguedad)"  type="submit">{{ 'Contratacion.despedir' | translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-heading>
                            </accordion-group>
                        </li>

                    </accordion>
                </ul>


            </div>

        </div>

        <div class="capaUps" ng-show="mostrarUps">
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">UPS!</h1>
            <div class="ups_mensaje">
                <div><span>{{ errorContSalarioMin }}</span></div>
                <div><span>{{ errorConLimitePersonal }}</span></div>
                <div><span>{{ errorProveedoresDatosVacios }}</span></div>
                <div><span>{{ errorDespidoAntiguedadCero }}</span></div>

            </div>
            <a class="form-control btnGuardar btn btn-success" ng-click="cerrarUps()">{{ 'comunes.volver' | translate }}</a>
        </div>
    </div>

</div>