<div  ng-controller="ayudaController" class="fondoConcurso">
    <div id="miEmpresa" class="capaComun capaAyuda">

        <accordion>
            <accordion-group is-open="true">
                <accordion-heading>
                    <div><span class="nombrePro">{{ 'Concurso.comoParticipar' | translate }}</span>
                    </div>
                </accordion-heading>
              
                <div>
                    <p>
                        <br>
                        {{ 'ComoParticipar.uno' | translate }}
                       <br> <br>
                       {{ 'ComoParticipar.dos' | translate }}
                        <br> <br>
                        {{ 'ComoParticipar.tres' | translate }}
                        <br> <br>
                       {{ 'ComoParticipar.cuatro' | translate }} 
                        <br> <br>
                       {{ 'ComoParticipar.cinco' | translate }} 
                        <br>
						


                    </p>
                   
                   
                   

                </div>
            </accordion-group>
            
    </div>
    <div class="menuOpciones" >
          <a class="btn btn-success btnGuardar btn-registro" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
        </div>
</div>


