/*
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	header.major h2 {
		font-size: 1.6em;
	}

	header.major .byline {
		font-size: 1.1em;
	}

	.wrapper {
		padding: 4em 0em 2em 0em;
	}

		.wrapper.style2 {
			padding-bottom: 5em;
		}

		.wrapper.style4 p {
			margin-bottom: 1em;
		}

		.wrapper.style5 img {
			width: 70%;
		}

/* Lists */

	ul.icons li a {
		font-size: 1.6em;
	}

/* Main */

	#main #sidebar .major h2 {
		font-size: 1.6em;
	}
	
	.barra_cabecera{
		position: fixed;
		display: block;
		width: 100%;
		height: 44px;
		top: 0px;
		left: 0px;
		background: #000;
		height: 44px;
	}
	
	.barra_cabecera a{
		display:block;
		padding: 10px 0 0 20px!important;
		font-weight:bold;
		
	}