		@import url("http://afectadosclausulasuelo.org/css/font-awesome.min.css");
		@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

		body, input, select, textarea {
			font-family: 'Open Sans', sans-serif;
		}


		body{
			margin: 0!important;
			background: url('http://afectadosclausulasuelo.org/mobile/images/fondo_movil.jpg');
			background-size: 100%;
			overflow-x:hidden;
			overflow-y:auto;
			font-size: 10px
		}

		table tr[style] td {
	    	border-bottom: 2px solid #82b440;
		}​
		table tr:last-child td{
	    	border-bottom: none;
		}​

		h2, h3, h4 {
			font-size: 18px !important;
		}
		p, .subheader span, .ayuda span, .mobile_noticias span {
			font-size: 14px !important;
		}
		label, th > b {
			font-size: 10px !important;
		}


		#nav{
			width: 100%;
    		min-height: 8em;
			border-bottom: .4em #8ab242 solid;
			text-align:center;
			background-color:white;
		}
		#nav #brand{
			position: absolute;
			display: table;
			width: 100%;
			text-align: center;
			background-color: white;
			height: 8em;
		}

		#nav .image{
			display: table-cell;
			width: 45%;
			box-sizing: border-box;
			vertical-align: middle;
			text-align: right;
		}

		#nav .image img{
			height: auto;
			max-width: 200px;
			width: 6em;
		}

		#nav .nombre{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 4em;
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}

		#nav .slicknav_menu{
			background-color:white;
			padding:0;
    		height: 8em;
    		top: 11em;
    		font-size: inherit;
		}

		#nav .slicknav_menu>a{
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			background-color: #fff;
			width: 15%;
			height: 6em;
			position: absolute;
			right: 5%;
			padding: 0;
			float: none;
		}
		#nav .slicknav_menu>a 
		#nav  .slicknav_menu .slicknav_no-text{
			width: 1.8em;
			height: 1em;
		}

		#nav .slicknav_menu>a .slicknav_icon-bar{
			background-color: #212121;
			width: 5em;
			height: .5em;
			margin-top: 1.1em;
			font-size: inherit;
		}

		#nav .slicknav_menu ul{
			position:absolute;
			top: 8.4em;
			z-index: 999;
			height: 100%;
    		width: 100%;
			background: url('http://afectadosclausulasuelo.org/mobile/images/000000-0.8.png') repeat;
			font-size: inherit;
		}

		#nav .slicknav_menu ul li{
			background-color: white;
			border-bottom: .3em #8ab242 solid;
			position:relative;
			z-index:999;
		}

		#nav .slicknav_menu ul li a{
			color: #8ab242;
			/*font-size: 4.5vw;*/
			text-align:center;
			/*line-height:11.88vw;*/
			text-transform:uppercase;
			margin:0;
			/*padding: 0 0 0 11.88vw;*/
			font-size: 320%;
    			line-height: 260%;
    			padding: 0 0 0 10%;
		}

		#nav .slicknav_menu ul li a.balanza{
			background: url('http://afectadosclausulasuelo.org/mobile/images/balanza.svg') no-repeat white;
			/*background-position: 1.98vw 1.98vw;
			background-size: 7.92vw 7.1vw;*/
			background-position: 2%;
    			background-size: 8%;
		}

		#nav .slicknav_menu ul li a.calculadora{
			background: url('http://afectadosclausulasuelo.org/mobile/images/calculadora.svg') no-repeat white;
			/*background-position: 1.98vw 1.98vw;
			background-size: 7.92vw 7.1vw;*/
			background-position: 2%;
    			background-size: 8%;
		}

		#nav .slicknav_menu ul li a.lupa{
			background: url('http://afectadosclausulasuelo.org/mobile/images/lupa.svg') no-repeat white;
			/*background-position: 1.98vw 1.98vw;
			background-size: 7.92vw 7.1vw;*/
			background-position: 2%;
    			background-size: 8%;
		}

		#nav .slicknav_menu ul li a.noticias{
			background: url('http://afectadosclausulasuelo.org/mobile/images/noticias.svg') no-repeat white;
			/*background-position: 1.98vw 1.98vw;
			background-size: 7.92vw 7.1vw;*/
			background-position: 2%;
    			background-size: 8%;
		}

		#nav .slicknav_menu ul li a.tomate{
			background: url('http://afectadosclausulasuelo.org/mobile/images/tomate.svg') no-repeat white;
			/*background-position: 1.98vw 1.98vw;
			background-size: 7.92vw 7.1vw;*/
			background-position: 2%;
    			background-size: 8%;
		}

		#footer{
			overflow:hidden;
		}

		#footer h4{
			display:block;
			text-align:center;
			box-sizing:border-box;
			background:white;
			margin:0;
			padding: 4%;

		}

		#footer .inferior{
			background: #1c1c1c;
			overflow:hidden;
			padding-top: 1%;
			height: 200px;

		}

		#footer h4 a svg{
    		width: 16%;
			height:auto;
		}

		#footer .inferior h1{
			display:inline-block;
			float:left;
			text-align:center;
			color: white;
			width: 50%;
			font-size: 200%;
			line-height: 180%;
		}
		#footer .inferior h1 a{
			text-decoration:none;
			color: white;
			font-size: 120%;
			text-align:center;
		}
		#footer .inferior h3{
			display:block;
			float:left;
			width: 95%;
			font-size: 160%;
			color: white;
			text-align:right;
			margin:0;
		}

		/* +++ BEGIN +++ Home */
			/*  */
				.home{
					display: table;
					width: 100%;
					border-bottom: .4em #8ab242 solid;
					text-align: center;
					background-color: white;
					height: 8em;
				}

				.home div.image{
					display: table-cell;
    					width: 45%;
					box-sizing:border-box;
					vertical-align: middle;
					text-align: right;
				}

				.home div.image img{
					height: auto;
					width: 6em;
				} 

				.home div.nombre{
					text-transform:uppercase;
					font-weight: bold;
					/*font-size: 450%;*/
					font-size: 4em;
    				display: table-cell;
					vertical-align: middle;
					text-align: left;
				}

			/* Content*/
				.mobile_home{
					overflow:hidden;
					width: 100%;
				}

				.mobile_home .botones{
					/*width: 86.87vw;
					height: 83.34vw;
					margin: 12.75vw 6.56vw 0 6.56vw;*/
					/*margin: 3.75vw 6.56vw 0 6.56vw;*/
					overflow:hidden;
    					margin: 1% 6.5% 40% 6.5%;
				}

				.mobile_home .botones .boton{
					display:block;
					border: .1em #8ab242 solid;
					margin-top: 4.7%;
					box-sizing:border-box;
					padding-left: 10%;
					text-align:center;
					text-decoration:none;
					text-transform:uppercase;
					color: #8ab242;
					/*font-size: 210%;*/
					font-size: 3em;
					line-height: 220%;
					background:white;
					background-size: 2.5em !important;
					background-position: 2.5% !important;
				}

				.mobile_home .botones .balanza{
					background: url('http://afectadosclausulasuelo.org/mobile/images/balanza.svg') no-repeat white;
				}

				.mobile_home .botones .calculadora{
					background: url('http://afectadosclausulasuelo.org/mobile/images/calculadora.svg') no-repeat white;
				}

				.mobile_home .botones .lupa{
					background: url('http://afectadosclausulasuelo.org/mobile/images/lupa.svg') no-repeat white;	
				}

				.mobile_home .botones .noticias{
					background: url('http://afectadosclausulasuelo.org/mobile/images/noticias.svg') no-repeat white;
				}

				.mobile_home .botones .tomate{
					background: url('http://afectadosclausulasuelo.org/mobile/images/tomate.svg') no-repeat white;
				}
		/* +++ END +++ Home */

		/* +++ BEGIN +++ Noticias */
			.mobile_noticias{
				min-height: 400px;
				background: url('http://afectadosclausulasuelo.org/mobile/images/FFFFFF-0.7.png') repeat;
				overflow:hidden;
				width: 100%;
				position: relative;
			}

			.mobile_noticias section{
				margin: 5%;
    			width: 90%;
				height: auto;
				overflow: hidden;
			}

			.mobile_noticias section p{
				box-sizing:border-box;
				padding: 2%;
				background: white;
				color: #8ab242;
			}
		/* +++ END +++ Noticias*/

		/* +++ BEGIN +++ Simulador datos */
			.simulador{
				background: url('http://afectadosclausulasuelo.org/mobile/images/FFFFFF-0.7.png') repeat;
				overflow:hidden;
				padding: 5% 5% 40% 5%;
				width: 90%;
				position: relative;
			}

			.simulador .sub h2{
				font-size: 5vw;
				line-height: 6vw;
				margin: 0;
				font-weight:500;
				text-align:center;
			}

			.simulador .sub span{
				display:block;
				width:90vw;
				font-size: 4vw;
				line-height: 5vw;
				text-align:center;
				margin-top: 3vw;
			}

			.simulador input[type="button"]{
				background: url("http://afectadosclausulasuelo.org/images/clean.png") no-repeat scroll transparent .5%;
				/*background-size:8vw 8vw;*/
				background-size: 9%;
			}

			.simulador input[type="submit"]{
				background: url("http://afectadosclausulasuelo.org/mobile/images/calculadora.svg") no-repeat scroll transparent .5%;
				/*background-size:8vw 8vw;*/
				background-size: 9%;
			}

			.simulador input[type="submit"], .simulador input[type="button"]{
				/*width: 90vw;*/
				margin: 0;
				/*margin-top: 5vw;*/

				-moz-appearance: none;
				-webkit-appearance: none;
				-o-appearance: none;
				-ms-appearance: none;
				appearance: none;
				border-radius: none;
				color: #82b440;
				cursor: pointer;
				display: inline-block;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				background-color: #fff;
				box-sizing:botder-box;
				width: 100%;
				margin-top: 5.5%;
				border: .1em solid #82b440;
				padding: 2.3% 3% 2.3% 10%;
				letter-spacing: 2.5px;
				font-size: 2.1em;
			}

			.simulador input[type="submit"]:hover{
				background: #82b440;
				color: white;
			}

			.simulador .form_block{
				display:block;
				padding: 2% 0;
			}

			.simulador .form_block .form_label label{
				font-size: 250%;
				line-height: 95%;
			}

			.simulador input[type="text"], .simulador select{
				box-sizing:border-box;
				padding: 1%;
				border: .1em #82b440 solid;
				font-size: 250%;
				margin-top: 1%;
			}

			.simulador select{
				margin-top: 1%;
    			width: 100%;
			}

			.simulador select.fecha{
				display:block;
				float:left;
				width: 32.22%;
    			margin-right: 1%;
    			margin-top: 1%;
			}

			.simulador input[type="text"]{
				width: 100%;
			}

			.simulador .form_label{
				display:block;
				text-align:left;
				width:100%;
				margin: 0 5% 0 0;
			}
		/* +++ END +++ Simulador datos */

@media (max-width: 600px) {
	body{
		font-size: 6px
	}
}
@media (max-width: 400px) {
	body{
		font-size: 5px
	}
	table tr[style] img{
		width: 75px !important
	}
	table tr[style] input[style]{
		font-size: 10px !important;
		margin-top: 0 !important;
	}
}
@media (max-width: 330px) {
	.simulador input[value="DESDE EL PRINCIPIO DE LA HIPOTECA"] {
		font-size: 1.5em;
	}
}
