<div  ng-controller="basesController">
    <!--<div id="miEmpresa" class="capaComunConcurso">-->
	<div id="nuevaPartida" class="capaRanking bases" >
		 <div class="titulo">{{ 'Concurso.bases' | translate }}</div>
        <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open1">
                <accordion-heading>
                    <div><span class="nombrePro">1. {{ 'Concurso.bases_01_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open1, 'glyphicon-chevron-down': !status.open1}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
                        <br>
                        {{ 'Concurso.bases_01_detalle_01' | translate }}
                       <br> <br>
                       {{ 'Concurso.bases_01_detalle_02' | translate }}
						<!--<ul class="listado_letras">
							<li>{{ 'Concurso.bases_01_detalle_02_01' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_01_detalle_02_02' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_01_detalle_02_03' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_01_detalle_02_04' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_01_detalle_02_05' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_01_detalle_02_06' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_01_detalle_02_07' | translate }} </li>
							<br>
						</ul>-->
						<br> <br>
                       {{ 'Concurso.bases_01_detalle_03' | translate }}
                    </p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open2">
                <accordion-heading>
                    <div><span class="nombrePro">2. {{ 'Concurso.bases_02_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open2, 'glyphicon-chevron-down': !status.open2}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_02_detalle_01' | translate }}
						<br> <br>
						{{ 'Concurso.bases_02_detalle_02' | translate }}
						<br> <br>
						{{ 'Concurso.bases_02_detalle_03' | translate }}
						<!--<br> <br>
						{{ 'Concurso.bases_02_detalle_04' | translate }}-->
						<br> <br>
						{{ 'Concurso.bases_02_detalle_05' | translate }}
						<ul class="listado_letras">
							<li>{{ 'Concurso.bases_02_detalle_05_01' | translate }} </li>
								<ul class="listado_numeros">
									<li>{{ 'Concurso.bases_02_detalle_05_01_01' | translate }} </li>
									<br>
									<li>{{ 'Concurso.bases_02_detalle_05_01_02' | translate }} </li>
									<br>									
								</ul>
							<br>
							<li>{{ 'Concurso.bases_02_detalle_05_02' | translate }} </li>
							<ul class="listado_numeros">
								<li>{{ 'Concurso.bases_02_detalle_05_02_01' | translate }} </li>
								<br>
							</ul>
						</ul>
						{{ 'Concurso.bases_02_detalle_06' | translate }}						
                    </p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open3">
                <accordion-heading>
                    <div><span class="nombrePro">3. {{ 'Concurso.bases_03_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open3, 'glyphicon-chevron-down': !status.open3}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_03_detalle_01' | translate }}
						<br> <br>
						{{ 'Concurso.bases_03_detalle_02' | translate }}
						<br> <br>
						<!--<ul class="listado_letras">
							<li>{{ 'Concurso.bases_03_detalle_02_01' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_03_detalle_02_02' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_03_detalle_02_03' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_03_detalle_02_04' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_03_detalle_02_05' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_03_detalle_02_06' | translate }} </li>
							<br>
						</ul>-->							
                    </p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open4">
                <accordion-heading>
                    <div><span class="nombrePro">4. {{ 'Concurso.bases_04_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open4, 'glyphicon-chevron-down': !status.open4}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_04_detalle_01' | translate }} {{fechaInscripcionInicio | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{fechaInscripcionInicio | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{fechaInscripcionInicio | date:'yyyy'}}
						{{ 'Concurso.bases_04_detalle_03' | translate }} {{concurso.inicioInscripcion_Hora}} {{ 'Concurso.bases_04_detalle_04' | translate }}
						{{ 'Concurso.bases_04_detalle_05' | translate }} {{fechaInscripcionFin | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{fechaInscripcionFin | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{fechaInscripcionFin | date:'yyyy'}}
						{{ 'Concurso.bases_04_detalle_03' | translate }} {{concurso.finInscripcion_Hora}} {{ 'Concurso.bases_04_detalle_04' | translate }}						
						<br> <br>
						{{ 'Concurso.bases_04_detalle_06' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_04_detalle_07' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_04_detalle_08' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_04_detalle_09' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_04_detalle_10' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_04_detalle_11_01' | translate }}  {{concurso.maxParticipantes}} {{ 'Concurso.bases_04_detalle_11_02' | translate }}  
                    </p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open5">
                <accordion-heading>
                    <div><span class="nombrePro">5. {{ 'Concurso.bases_05_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open5, 'glyphicon-chevron-down': !status.open5}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_05_detalle_01' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_05_detalle_02' | translate }} 
						<!--
						<br> <br>
						{{ 'Concurso.bases_05_detalle_03' | translate }} 
						<div class="ponderacionFasesNacionales"> 
							<div class="cabecera">
								<div></div>
								<div>{{ 'Concurso.bases_05_puntuaciones_valMax' | translate }}</div>
								<div>{{ 'Concurso.bases_05_puntuaciones_ponderacion' | translate }}</div>
								<div>{{ 'Concurso.bases_05_puntuaciones_valMaxReal' | translate }}</div>
								<div>{{ 'Concurso.bases_05_puntuaciones_pesoAprox' | translate }}</div>
							</div>
							<div class="fase" ng-repeat="fase in fasesInfo  track by $index">
								<div><span class="indice">{{$index+1}}</span><span class="descripcion" >{{ 'Concurso.bases_05_puntuaciones_caso' | translate }}</span></div> 
								<div><div class="caja" > {{valoracionMaximaFaseTexto}}</div></div>
								<div><div class="caja" >{{fase.ponderacion}}</div></div>
								<div><div class="caja" >{{fase.ponderacion * valoracionMaximaFase}}</div></div>
								<div><div class="caja" >{{fase.porcentajePuntuacion}}%</div></div>
							</div>
							<div class="pie">
								<div class="vacio"></div>
								<div>{{ 'Concurso.bases_05_puntuaciones_totalValMax' | translate }}</div>
								<div class="vacio" ></div>
								<div>{{ 'Concurso.bases_05_puntuaciones_totalValMaxReal' | translate }}</div>
								<div class="vacio"></div>
							</div>
							<div class="pie_datos">
								<div class="vacio"></div>
								<div>{{ totalValMax }}</div>
								<div class="vacio" ></div>
								<div>{{ totalValMaxReal }}</div>
								<div class="vacio"></div>
							</div>
						</div>
						-->
						<br> <br>
						{{ 'Concurso.bases_05_detalle_04' | translate }} 
						<!--
						<br> <br>
						{{ 'Concurso.bases_05_detalle_05' | translate }} 
						-->
						<br> <br>
						{{ 'Concurso.bases_05_detalle_06' | translate }} 
						<br> <br>
                    </p>
					
                </div>
            </accordion-group>
			<accordion-group is-open="status.open6">
                <accordion-heading>
                    <div><span class="nombrePro">6. {{ 'Concurso.bases_06_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open6, 'glyphicon-chevron-down': !status.open6}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_06_detalle_01' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_06_detalle_02' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_06_detalle_03' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_06_detalle_04' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_06_detalle_05' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_06_detalle_06' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_06_detalle_07' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_06_detalle_08' | translate }} 
						<ul class="listado_letras">
							<li>{{ 'Concurso.bases_06_detalle_08_01' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_06_detalle_08_02' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_06_detalle_08_03' | translate }} </li>
							<br>					
						</ul>
						<!--<br> <br>
						{{ 'Concurso.bases_06_detalle_09' | translate }} 
						<ul class="listado_letras">
							<li>{{ 'Concurso.bases_06_detalle_09_01' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_06_detalle_09_02' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_06_detalle_09_03' | translate }} </li>
							<br>							
						</ul>
						-->
						<br> <br>
						{{ 'Concurso.bases_06_detalle_10' | translate }} 
                    </p>					
                </div>
            </accordion-group>
			<accordion-group is-open="status.open7">
                <accordion-heading>
                    <div><span class="nombrePro">7. {{ 'Concurso.bases_07_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open7, 'glyphicon-chevron-down': !status.open7}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_07_detalle_01' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_07_detalle_02_01' | translate }} {{concurso.inicioInscripcion_Hora}} {{ 'Concurso.bases_07_detalle_02_02' | translate }}
						{{ 'Concurso.bases_07_detalle_02_03' | translate }} {{fechaInscripcionInicio | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{fechaInscripcionInicio | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{fechaInscripcionInicio | date:'yyyy'}}
						{{ 'Concurso.bases_07_detalle_02_05' | translate }} {{concurso.finInscripcion_Hora}} {{ 'Concurso.bases_07_detalle_02_02' | translate }}
						{{ 'Concurso.bases_07_detalle_02_03' | translate }} {{fechaInscripcionFin | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{fechaInscripcionFin | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{fechaInscripcionFin | date:'yyyy'}}
                    </p>
					<p>
						<br>
						{{ 'Concurso.bases_07_detalle_03' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_07_detalle_04_01' | translate }}
						{{faseNacionalfechaInicio | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{faseNacionalfechaInicio | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{faseNacionalfechaInicio | date:'yyyy'}}
						{{ 'Concurso.bases_07_detalle_04_04' | translate }}
						<br> <br>
						{{ 'Concurso.bases_07_detalle_05' | translate }}
						<br> <br>
						{{ 'Concurso.bases_07_detalle_05b' | translate }}
						{{faseNacionalfechaFin | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{faseNacionalfechaFin | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{faseNacionalfechaFin | date:'yyyy'}}
						{{ 'Concurso.bases_07_detalle_04_04' | translate }}
						<br> <br>
						{{ 'Concurso.bases_07_detalle_05c' | translate }}
					</p>
					<!--<p>
						<br>
						{{ 'Concurso.bases_07_detalle_06' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_00_consultar_calendario' | translate }} 
					</p>
					<p>
						<br>
						{{ 'Concurso.bases_07_detalle_07' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_07_detalle_08' | translate }} 
					</p>
					<p>
						<br>
						{{ 'Concurso.bases_07_detalle_09' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_07_detalle_10' | translate }} 
					</p>
					<p>
						<br>
						{{ 'Concurso.bases_07_detalle_11' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_07_detalle_12' | translate }} 
					</p> -->
					<p>
						<!--<br>
						{{ 'Concurso.bases_07_detalle_13' | translate }} 
						-->
						<br> <br>
						{{ 'Concurso.bases_07_detalle_14' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_07_detalle_15_01' | translate }} 
						{{fechaInicioFaseFinal | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{fechaInicioFaseFinal | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{fechaInicioFaseFinal | date:'yyyy'}}
						{{ 'Concurso.bases_07_detalle_15_04' | translate }} {{concurso.finInscripcion_Hora}}
						{{ 'Concurso.bases_07_detalle_15_05' | translate }}	{{ 'Concurso.bases_07_detalle_15_06' | translate }}
						{{fechaFinFaseFinal | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{fechaFinFaseFinal | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{fechaFinFaseFinal | date:'yyyy'}}
						<br> <br>
						{{ 'Concurso.bases_07_detalle_16' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_07_detalle_18' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_07_detalle_19' | translate }} 
					</p>
					<p>
						<br>
						{{ 'Concurso.bases_07_detalle_17' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_00_consultar_calendario' | translate }} 						
					</p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open8">
                <accordion-heading>
                    <div><span class="nombrePro">8. {{ 'Concurso.bases_08_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open8, 'glyphicon-chevron-down': !status.open8}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_08_detalle_01' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_08_detalle_02' | translate }} 
                    </p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open9">
                <accordion-heading>
                    <div><span class="nombrePro">9. {{ 'Concurso.bases_09_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open9, 'glyphicon-chevron-down': !status.open9}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_09_detalle_01' | translate }} 
					</p>
					<p>
						{{ 'Concurso.bases_09_detalle_02' | translate }} 
						<br> <br>
						{{ 'Concurso.bases_09_detalle_03_01' | translate }} <!-- {{premiosInfo.length}} {{ 'Concurso.bases_09_detalle_03_02' | translate }}-->
						<br> <br>
						<ul class="listado_letras">
							<div ng-repeat= "premio in premiosInfo">
								<li ng-if="premio.posicion == '1'">
									<span ng-if="premio.posicion == '1'">{{ 'Concurso.bases_09_detalle_04' | translate }} </span>
									<!--
									<span ng-if="premio.posicion != '1'">{{ 'Concurso.bases_09_detalle_05' | translate }} {{premio.posicion}}</span>
									-->
									<span ng-if="idioma == 'es'">{{premio.descripcion_es}}</span>
									<span ng-if="idioma == 'en'">{{premio.descripcion_en}}</span>
									<span ng-if="idioma == 'pt'">{{premio.descripcion_pt}}</span>									
								</li>
								<!--<br>-->
							</div>
						</ul>
						{{ 'Concurso.bases_09_detalle_03_03' | translate }}
                    </p>
					<p>
						{{ 'Concurso.bases_09_detalle_07' | translate }} 
						<br><br>
						<div ng-repeat= "sorteo in sorteosInfo">
							<span ng-if="idioma == 'es'">{{sorteo.desc_es}}</span>
							<span ng-if="idioma == 'en'">{{sorteo.desc_en}}</span>
							<span ng-if="idioma == 'pt'">{{sorteo.desc_pt}}</span>
							</li>
							<br>
						</div>
						<br><br>
						{{ 'Concurso.bases_09_detalle_08_01' | translate }} 2 {{ 'Concurso.bases_09_detalle_08_02' | translate }} 						
						<!--
						<br><br>
						<ul class="listado_letras">
							<div ng-repeat= "sorteo in sorteosInfo">
								<li>{{ 'Concurso.bases_09_detalle_09_01_01' | translate }} {{sorteo.nivel}} {{ 'Concurso.bases_09_detalle_09_01_02' | translate }} {{sorteo.puntuacion}} {{ 'Concurso.bases_09_detalle_09_02' | translate }}{{ 'Concurso.bases_09_detalle_09_03' | translate }}
								<span ng-if="idioma == 'es'">{{sorteo.desc_es}}</span>
								<span ng-if="idioma == 'en'">{{sorteo.desc_en}}</span>
								<span ng-if="idioma == 'pt'">{{sorteo.desc_pt}}</span>
								</li>
								<br>
							</div>
						</ul>
						-->
						{{ 'Concurso.bases_09_detalle_10' | translate }} 
						<br><br>
						{{ 'Concurso.bases_09_detalle_11' | translate }} 
						<br><br>
						{{ 'Concurso.bases_09_detalle_12' | translate }} 
					</p>
					<p ng-show="appleDevice">
						{{ 'Concurso.bases_13_detalle_01' | translate }} 
						<br><br>						
						{{ 'Concurso.bases_13_detalle_02' | translate }} 
					</p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open10">
                <accordion-heading>
                    <div><span class="nombrePro">10. {{ 'Concurso.bases_10_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open10, 'glyphicon-chevron-down': !status.open10}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_10_detalle_01' | translate }}
						<br><br>
						{{ 'Concurso.bases_10_detalle_02' | translate }}
						<br><br>
						{{ 'Concurso.bases_10_detalle_03' | translate }}
						<ul class="listado_letras">
							<li>{{ 'Concurso.bases_10_detalle_04_01' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_10_detalle_04_02' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_10_detalle_04_03' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_10_detalle_04_04' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_10_detalle_04_05' | translate }} </li>
							<br>
							<li>{{ 'Concurso.bases_10_detalle_04_06' | translate }} </li>
							<ul class="listado_numeros">
								<li>{{ 'Concurso.bases_10_detalle_04_06_01' | translate }} </li>
								<br>
								<li>{{ 'Concurso.bases_10_detalle_04_06_02' | translate }} </li>
								<br>
								<li>{{ 'Concurso.bases_10_detalle_04_06_03' | translate }} </li>
								<br>
								<li>{{ 'Concurso.bases_10_detalle_04_06_04' | translate }} </li>
								<br>
								<li>{{ 'Concurso.bases_10_detalle_04_06_05' | translate }} </li>
								<br>
							</ul>
							<br>
							<li>{{ 'Concurso.bases_10_detalle_04_07' | translate }} </li>
						</ul>
					</p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open11">
                <accordion-heading>
                    <div><span class="nombrePro">11. {{ 'Concurso.bases_11_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open11, 'glyphicon-chevron-down': !status.open11}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_11_detalle_01' | translate }}
						<br><br>
						{{ 'Concurso.bases_11_detalle_02' | translate }}
						<br><br>						
					</p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open12">
                <accordion-heading>
                    <div><span class="nombrePro">12. {{ 'Concurso.bases_12_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open12, 'glyphicon-chevron-down': !status.open12}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_12_detalle_01' | translate }}
						<br><br>
						{{ 'Concurso.bases_12_detalle_02' | translate }}
						<br><br>			
						{{ 'Concurso.bases_12_detalle_03' | translate }}
						<br><br>
						{{ 'Concurso.bases_12_detalle_04' | translate }}
						<br><br>
						{{ 'Concurso.bases_12_detalle_05' | translate }} 
						<!--XXXX {{ 'Concurso.bases_13_detalle_06' | translate }} YYYY {{ 'Concurso.bases_13_detalle_07' | translate }} ZZZZ {{ 'Concurso.bases_13_detalle_08' | translate }} AAAAA-->
					</p>
                </div>
            </accordion-group>
			<accordion-group is-open="status.open13" ng-show="appleDevice" >
                <accordion-heading>
                    <div><span class="nombrePro">13. {{ 'Concurso.bases_13_titulo' | translate }}</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open13, 'glyphicon-chevron-down': !status.open13}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <p>
						<br>
						{{ 'Concurso.bases_13_detalle_01' | translate }}
						<br><br>
						{{ 'Concurso.bases_13_detalle_02' | translate }}
						<br><br>						
					</p>
                </div>
            </accordion-group>
			
	</accordion> 	

			<a class="btnGuardar btn-registro btn btn-success" href="#/calendario" >{{ 'Concurso.calendario' | translate }} </a>	
			<a class="btn btn-success btnGuardar btn-registro" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
		
    </div>
		<div class="menuOpciones" >	
		</div>
</div>