<div class="fondoNuevaPartida" ng-controller="PartidaController">
    <div id="nuevaPartida" class="capaNuevaPartida">
        <div class="titulo">{{ 'Partida.nuevaPartidaMulti' | translate }}</div>
        <div class="groupOptions">
            <div class="groupOptionsText">				
                <span class="optionsText">{{ 'Partida.seleccionaMercadoMulti' | translate }}</span></br>
                <span class="optionsText">{{ 'Partida.seleccionaMercadoMulti_dos' | translate }}</span>
			</div>
			<div class="mundosMulti">
				 <div class="group groupCreacion" ng-init="togFund=0">
					<div  class="groupImage" ng-click="guardarIdMundoMulti(mundo.idMundo);" ng-repeat="mundo in mundosMulti">
						<span ng-if="togFund==mundo.idMundo" class="mesesRojo mesesDecisiones">{{mundo.maxDecisionesEmpresa}}</span>
						<span ng-if="togFund!=mundo.idMundo" class="mesesVerde mesesDecisiones">{{mundo.maxDecisionesEmpresa}}</span>
						<span>{{ 'Partida.seleccionaMercadoMultiMeses' | translate }} </span>
							
					</div>
				</div>
				<div class="noMundosMulti" ng-show="ningunMundoDisponible">
					<span class="noMundosMulti">{{ 'Partida.ningunMundoMultiDisponible' | translate}}</span>
				</div>
			</div>
			<div class="separador"></div>
			 <div class="groupOptionsText groupMulti">				
                <span class="optionsText" ng-disabled="!checked">{{ 'Partida.seleccionaMercadoMulti_tres' | translate }}</span>
                <div class="text-center">	
						 	<img class="tiempoMultijugador" src="img/Bombilla_Tiempo.gif"/>			
						</div>
						<div class="text-center">	
						 	<span class="optionsText" ><strong>20 {{ 'Partida.seleccionaMercadoMulti_minutos' | translate }}</strong></span>
						</div>
						<div class="text-center">	
						 	<span class="optionsText" > {{ 'Partida.seleccionaMercadoMultiDecision' | translate }}</span>
						</div>				
			</div>
			
			
			
        </div>        
        <div class="groupOptions">
            <a ng-show="visible" class="btn btn-success btnGuardar" ng-click="unirseAPartidaMulti()" >{{ 'Partida.comenzar' | translate }}</a>
            <a ng-show="!visible" class="btn btn-success btnGuardar disabled"  >{{ 'Partida.comenzar' | translate }}</a>
        </div>


    </div>
</div>


