<div class="fondoConcurso" ng-controller="calendarioController">
    <div id="nuevaPartida" class="capaRanking"  ng-swipe-left="showActions = true" ng-swipe-right="showActions = false">
		<div class="titulo">{{ 'Concurso.calendario' | translate }}</div>
		<accordion close-others="oneAtATime">		 
		<accordion-group ng-repeat="fase in fasesInfo" is-open="fase.open">
			<div class="capaFase">
				<accordion-heading ng-class="capaFase" ng-click="openClosePanel($index)">
					<div class="tituloFase" ng-if="fase.tipoMundo == '4'" >{{ 'Concurso.calendario_faseFinal' | translate }}
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': fase.open, 'glyphicon-chevron-down': !fase.open}"></i>
					</div>
					<div class="tituloFase" ng-if="fase.tipoMundo == '3'" >{{ 'Concurso.calendario_ligaNacional' | translate }} {{ 'Concurso.calendario_ligaNacional_fase' | translate }} {{parseInt(fase.prioridad)+1}}
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': fase.open, 'glyphicon-chevron-down': !fase.open}"></i>
					</div>
				</accordion-heading>
				<div class="capaCalendarioGeneral ">
					<div class="cabecera_mes">
						<span>{{parseDate(fase.mundofechaInicio) | date:'MMMM'}}</span>
					</div>
					<div class="capaDia" ng-repeat= "i in fechas[fase.prioridad] track by $index">
						<div class="cabecera">
							<span class="letra">{{i | date:'EEEE'}}</span>
							<span class="numero">{{i | date:'dd'}}</span>
						</div>
						<div class="contenido" ng-show="i!=''" >
							<div class="decision">
								<div class="reloj am">
									<!--{{ 'Concurso.calendario_horario_am' | translate }}-->
									{{ 'Concurso.calendario_horario_unico' | translate }}
								</div>
								<div class="detalle">
									<div class="cifra">
										<!--{{($index)*2+1}} {{ 'Concurso.calendario_decision_ordinal' | translate }} -->
										{{($index)+1}} {{ 'Concurso.calendario_decision_ordinal' | translate }} 
									</div>
									<div class="mensaje">
									{{ 'Concurso.calendario_decision' | translate }}
									</div>
								</div>
							</div>
							<!--
							<div class="decision" >
								<div class="reloj pm">								
									{{ 'Concurso.calendario_horario_pm' | translate }}
								</div>
								<div class="detalle">
									<div class="cifra">
										{{($index)*2+2}} {{ 'Concurso.calendario_decision_ordinal' | translate }} 
									</div>
									<div class="mensaje">
									{{ 'Concurso.calendario_decision' | translate }}
									</div>
								</div>
							</div>
							-->
						</div>
						
					</div>
					<div class="capaPreDescrip">
						
					</div>
				</div>			
			</div>
		</accordion-group>
       
        <div class="groupOptions">
			<a class="btnGuardar btn-registro btn btn-success" href="#/bases" >{{ 'Concurso.bases' | translate }} </a>	
			<a class="btn btn-success btnGuardar" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
        </div>


    </div>
</div>


