
/* CSS BBVA
   2013 13:38
	 
   Pagina de primer nivel 
*/

img       { border:0; }
body {
	margin-left: 0px;
	margin-top: 0px;
	overflow-y:hidden; 
}

.boldazul    { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #006EC1; font-weight: bold; }
.txt    { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }