
/* CSS BBVA
   29/mar/2005 13:38
	 
   Pagina de segundo nivel 
*/
img       { border:0; }
body
{
 margin-top:10px;
 
 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 12px;
 color: #000000;
 background-color:white;
 border: none;

 scrollbar-face-color: #ffffff;
 scrollbar-shadow-color: #003399;
 scrollbar-highlight-color: #ffffff;
 scrollbar-3dlight-color: #003399;
 scrollbar-darkshadow-color: #ffffff;
 scrollbar-track-color: #ffffff;
 scrollbar-arrow-color: #003399;

}

.sidebar { font-family: Arial, Helvetica, sans-serif; font-size: 12px;
	   padding-right: 0px; padding-left: 27px; border: none;padding-right: 10px; padding-top:4px !important;
	 }
.cscroll { 
	   background: url(../img/Plantilla/fondo_sidebar.gif) no-repeat top left; 
	   border: solid 0px #003399; 
	   background-color: #ffffff;
	   
	  
	  }


.sidebar.title  { font-style:normal; font-weight:bold; font-size:16px; line-height:18px; color:#003399; padding-top: 15px; padding-left: 5px; padding-right: 10px; }


#sidebar-boton-cerrar 
{	
  

	padding-right:6px;
	_padding-right:6px;
	padding-top:8px;
	
	padding-top:8px;
  
  float:right;
  
 
  

}


