@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.imgacenSV{
    position: absolute;
    z-index: 23;
    top: 1px;
}
.oculto {
    visibility:hidden;
    display:none;
}

#video{
  /*  position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;*/
}
#video{

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 1;
    top: 0;
    background-color: rgb(0, 0, 0);

}
.capaTextoBievenida{
    height: 70%;
}
.videoCapaTexto .texto{
    text-align:center !important;
    height: 40%;
    font-weight: normal !important;
}
.videoCapaTexto .titulo{
    font-weight:bold;
}
.imagenPosicion{
     text-align: center;
     margin-bottom: 30px;
 }
.imagenPosicion img{
   margin-top:30px;
}
.videoCapaTexto{
    position: absolute;
    color: white;
    z-index: 4;
    height: 60%;
    width: 100%;
    padding: 5%;
}
.empezar{
    background-color: #889641;
    border-radius: 0 !important;
    color: white;
    text-align: center;
    width: 50%;
    height: 55px;
}
.empezar span{
    padding-top: 7px;
    padding-right: 5px;
    font-weight: bold;
}
.empezar_izq{
    float: left;
    width: 90%;
}
.empezar_dcha{
    float: right;
    padding-top: 1px;
    width: 10%;
}
.empezar:hover{
    color: white !important;
}
.botonEmpezar{
    text-align: center;
    margin-top:15px;
}
.logoBienvenida{
    z-index: 1;
    bottom: 0 !important;
    height: 65px;
}
.logoBienvenida.de{
    background-color:#6d6d6d;
}
.logoBienvenida img{
    padding-top: 7px;
}
.bienvenidaAplVideo{
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4%;
}

*{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
/*Alertas SWEET*/
.confirm {
    background-color: #889641 !important;
}
/* Capa constelación*/
.ocultarConstelacion{
   /* display: none;*/

}
.mostrarConstelacion{
    /*display: block !important;*/
    top: 0px !important;
  }
.constelacionAbierto{
    width: 100%;
    background-color: #3A3A3C;
    position: absolute;
    top: -360px;
    z-index: 54;

}
.logoSanConteslacion{
    text-align: center;
    background-color: #ed1c24;
    height: 60px;
}
.logoSanConteslacion.de{
   background-color: #6d6d6d;
}

.logoSanConteslacion img{
    width: 130px;
    padding-top: 5px;
}
.constelacionCerrar{
    text-align: center;
    float: left;
    width: 100%;
}
.constelacionCerrar img{
    margin-bottom: 20px;
}
.constImg{
    width: 33%;
    float: left;
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 50px;

}

.constImg.mini{
   width: 50%;
}

.constImg img{
    margin: 5px;
    width: 50px;
}
.constImg span{
    margin: 5px;
}
/* comunes */
.iconos_menu_multi{
      margin-top: 18px !important;
    float: left;
    width: 20px;
}
.multiPlayerSpan{
    padding-right: 0px !important;
    float:right !important;
    width:85%;
}
.multiPlayerDatos{
    width: 95%;
  padding-top: 0px !important;
  text-align: center;
  color: rgb(0, 0, 0) !important;
}
.capaComun input{
    padding: 0px !important;

}
.menuTitulo{
     background-color: #8b9933;
    color: white;
    font-size: 14px;
    margin-top: 1px;
    padding: 10px;
    text-align: center;
}
input, select{
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
#balance, #pyg, #efe, #miEmpresa, #prestamos, #subvenciones, #publicidad{
    font-size: 0.7em;
}

#sb-site{
    height: 100%;
    width:100%;
  /*  padding-top: 40px;*/

}
.panel-body{
   /* background-color: #dbe6c8;*/
    background-color:#E5EFD7;
}
.menuPrimero li a{
    text-transform: initial !important;
}

.btn {
    font-size:1em !important;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 9999999999;
    text-align: center;
}

.loader {
    margin-top: 50%;
    width: 50px;
}

body{
    /*font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;*/
    font-family: 'Open Sans', sans-serif;
    font-size:1.8em;
}

header{
    text-align: center;
    width:100%;
    display:inline-block;
    height: 40px;
    top:0px;
    margin:auto;
    z-index:1;
    padding-top: 5px;
    background: white;
      /*position: fixed;*/
      position:static;
}

header .tituloCabecera {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.tituloCabeceraConcurso{
     text-align: center;
    font-size: 15px;
    font-weight: bold;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: none;
}

header div {
    padding: 0 !important;
}
header img{
    width:24px;
}
.constelacion {
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.slidebarToggle {
    float: right;
    margin-right: 10px;
    margin-top: 1px;
    width:28px;
}

footer {
    text-align: center;
    padding:7px 0;
    background-color: black;
    color:white;
    position:fixed;
    bottom:0px;
    width:100%;
}

footer ul {
    width:100%;
    margin: 0 auto;
}

h2{
    text-align: center;
    padding:7px 0;
}

.loginButton{
    margin-bottom: 20px;
    margin-top: 50px;

}
.registerButtonRe{
    margin-top: 50px;
}
input.ng-invalid, select.ng-invalid{
    border: 1px solid red;
}
input.ng-valid, select.ng-valid {
    border: 1px solid rgb(139, 153, 51);
}

/* comunes */
.ng-scope .capaTitulo h2{
    font-size: 1em;
}
.capaComun{
    margin: 10px;
    float: left;
    width: 93%;
}
.capaComunConcurso{
       margin: 0 5%;
}

/*Registro */
.formBody{
    background-color: #ecf0f3;
    margin: 0px auto;
    border: 1px solid #bfd8eb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.formulario{
    padding:10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 6px solid rgb(138, 153, 50);
    border-top: 6px solid rgb(138, 153, 50);
  
}
.registroForm {

}
.registroForm input, .loginForm input{
    margin: 5% 0%;
}

.formBody h1{
    text-align: center;
    padding:7px 0;
}

.noValido {
    border: 1px solid red;
}

/* Ayuda configuración*/
.btnContAyuda{
    padding: 4px;
}
.logoUniAyuda{
    margin-top:4px;
}
.capaNoMostrar{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
}
.capaGuardar{
    position: fixed;
    bottom: 84px;
    width: 100%;
}
.ayudaTexto .centrado{
    text-align: center;
}
.ayudaTexto p{
    font-weight: bold;
    font-size: 13px;
    text-align: justify;
}
.primerosPasos{
    text-align: center
}
.cerrarLogoAyudas{
    text-align: center;
    background-color: #E20019;
    height: 60px;;
}

.cerrarLogoAyudas.de{
   background-color: #6d6d6d;
}
/*SlideMenu*/

.sb-right {
    margin-top: 40px !important;
}

/*Bienvenida */
.videoAnimado{
    width:100%;
}
#bienvenida{
    width: 80%;
    margin: 60px auto;
}

.centrado{
    text-align: center;
}
.titulo{
    font-size: 1.2em;
}
.texto{
    text-align: justify;
    font-size: 0.8em;
    font-weight: bold;
}
.green{
    color: rgb(139, 153, 51);
    font-weight: bold;
}
#contenedorBienvenida img{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    bottom:0;
}
.imagenes_galeria{
    text-align: center;
}
/* menuPrincipal */
.infUsuario{
    background-color: #D0A427 !important;
    border-color: #D0A427 !important;
}
.groupDificultad img{
    padding-top:6px;
}
.btn-CerrarSesion{
    background-color: #8A9932 !important;
}
#menuOpciones a{
    margin: 15px 0;
    width: 100%;
}
#menuOpciones .btn{
    padding: 4px 12px !important;
}
.fondo{
    background-image: url('../img/foto_CargarPartida.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 60%;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed; 
}
.fondoConcurso{
     background-image: url('../img/foto_fondoMovil.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 100%;
    position: absolute;
    overflow: auto;         
    height: 100%;
    width: 100%;
    
    height: 100%;
    position: fixed;
    background-position: bottom;    
}

.fondoNuevaPartida{
    background-image: url('../img/foto_CargarPartida.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height:80%;
}
.capaOpciones{
    width:95%;
}
.menuOpciones {
    margin: 0 9%;
}
#menuOpciones .btn-danger{

    border-radius: 0 !important;
}
.cerraSesion{
    bottom: -1px;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
}
.cerraSesion a{
    margin: 0px !important;
    width: 100%;

}
.capaInfoMultiMenu{
 border: 2px solid rgb(138, 153, 52);
  border-radius: 5px;
  width: 100%;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding-bottom: 10px;
}

/* nueva partida*/
.capaNuevaPartida .groupOptionsText, .capaPasoJornada .optionsText{
    text-align: left;
}
.groupCreacion .seleccionado{
    height:125px;
}
.mundosMulti{
    width: 100%;
    float: left;
}
.mesesVerde{
    background: url('../img/meses_vacio.gif');
    background-repeat: no-repeat;
}
.mesesRojo{
   background: url('../img/meses_R_vacio.gif');
   background-repeat: no-repeat;
}
.mesesDecisiones{
  height: 74px;
  margin: 0 auto;
  font-size: 25px !important;
  padding-top: 35px !important;
  background-position: 50%;
}
.groupMulti{
     margin-top: 20px;
    float: left;
}
.tiempoMultijugador{
    width:90px;
      margin-top: 10px;
}
.groupCreacion .seleccionado{
    height:125px;
}
.seleccionado{
    border: 2px solid #E20019 !important;
    border-radius: 5px;
    height: 100px;
}
.tipo{
    margin-top:15px;
    float:left;
    line-height: 35px;
}
.izqTipo{
    float:left;
    width:70%;
    line-height: 19px;
}
.dchaTipo select{
    width: 60px;
    padding-left: 5px;
}
.dchaTipo{
    float:right;
    width:30%;
}
.dchaTipo input{
    width:50%;
}
.separador{
    border: 1px solid gainsboro;
    width: 100%;
    float: left;
    margin-top: 15px;
}

.groupOptions{
    float: left;
    padding: 10px;
    text-align: center;
    line-height: 15px;
    width:100%;
}
.optionsText{
    font-size:14px;
}
.groupImage{
    width:33%;
    float: left;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);

}
.groupIdiomas{
    width:33% !important;
    width:50% !important;
}

.groupImage span{
    font-size:10px;
    font-weight:bold;
    float: left;
    width: 100%;
    margin-top: 3px;
    padding: 2px;
}

#nuevaPartida .group{
    margin-top:10px;
}
#nuevaPartida .titulo , #pasoJornada .titulo{
    background-color: #8A9932;
    color: white;
    text-align: center;
    padding: 3px 0px;
}
#nuevaPartida{
    margin: 0 5%;
    background-color: #FFFFFF;
    border: 1px solid #8A9932;
    border-radius: 5px;
    margin-bottom: 10px;
    float:left;
    margin-bottom: 2em;
}

#nuevaPartida p, #nuevaPartida ul, #nuevaPartida  .panel-body, #nuevaPartida  .groupMulti{
    /*ajuste tamaños textos */
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
}

#pasoJornada{
    margin: 0 5%;
    background-color: #FFFFFF;
    border: 1px solid #8A9932;
    border-radius: 5px;
    margin-bottom: 10px;
    float:left;
}
.imagenPasoJornadaMulti{
    margin: 20px;
    text-align: center;
}
.imagenPasoJornadaMulti img{
    width:70px;

}

#pasoJornada .contador{
    width: 80%;
    margin: 10px 10% 0px 10%;
    float: left;
}
#pasoJornada .subtitulo, #pasoJornada  .sugerencias {
    text-align: center;
    padding: 3px 0px;
}

.group button{
    width: 100%;
    margin: 5px 0;
}
#nuevaPartida .btnGuardar{
    width: 100%;
    margin: 10px 0px;
    float: left;
}

/*Opciones */
.seleccionadoMoneda{
    border: 2px solid #E20019 !important;
    border-radius: 5px;
    padding: 5px;

}
.group_monedas .groupImage{
    padding: 5px;
    height: 92px !important;
    margin-left: 10%;
}

.groupIdioma .groupImage{

    height: auto !important;
    padding: 0px !important;
}
/*info usuario */
.usuarios .optionsText{
    font-size: 12px !important;
}
.usuImg img{
    width: 19px;
    height: 15px;
}
.usuImg{
    width:10%;
    float:left;
}
.usu{
    width:90%;
    float:right;
}
.capaUsuarios{
    width:100%;
    line-height: 25px;
    float: left;
}

/* menú */
.smr-open{
    left: -260px;
}
body.ng-scope{

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #67b5d1;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 14px;
    border-left-color: rgb(180, 180, 180);
    border-left-width: 2px;
    border-left-style: outset;
}

nav.slide-menu-right .slideMenuRight li ul li a{
    color: rgb(0, 0, 0);
    border: none !important;
    background-color: white;
    font-size: 13px;
    padding-left: 15px;
}
nav.menu ul {
    list-style-type: none;
    padding: 0;
}

.menuPrimero {
    margin: 0 25px;
}

.conBorde {
    border-top: 1px solid lightgray;
}
.conBordeSup{
    border-top: 1px solid rgb(211, 211, 211) !important;
}
.conBordeMes{
    border-top: 1px solid rgb(211, 211, 211) !important;
 
}
.conBordeMesMulti{
    border-top: none;
}
.conBordeMes a{
    border: 2px solid rgb(138, 153, 52);
    border-radius: 5px;
    width: 65%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
nav.slide-menu-right {
    top: 0;
    width: 300px;
    height: 100%;
}
.slideMenuRight img{
    float: left;
}
.empresa{
    background-image: url("../img/ico_Titu_Empresa.png");
}
.financiera{
    background-image: url("../img/ico_Titu_Financiera.png");
}
.marketing{
    background-image: url("../img/ico_Titu_Marketing.png");
}
.rrhh{
    background-image: url("../img/ico_Titu_RRHH.png");
}
.compras{
    background-image: url("../img/ico_Titu_Compras.png");
}
.activa .empresa{
    background-image: url("../img/ico_Titu_Empresa_on.png");
}
.activa .financiera{
    background-image: url("../img/ico_Titu_Financiera_on.png");
}
.activa .marketing{
    background-image: url("../img/ico_Titu_Marketing_on.png");
}
.activa .rrhh{
    background-image: url("../img/ico_Titu_RRHH_on.png");
}
.activa .compras{
    background-image: url("../img/ico_Titu_Compras_on.png");
}
.mes{
    background-image: url("../img/calendar.png");
    cursor: pointer;
}
.alertas{
    background-image: url("../img/ico_Titu_Alertas.png");
}

.inicio{
    background-image: url("../img/ico_Titu_Opciones.png");
}


.empresa, .financiera, .marketing, .rrhh, .compras, .mes, .alertas, .inicio{

    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 5px;
    padding-left: 45px !important;

}
nav.slide-menu-right .slideMenuRight li {
    display: block;
    color: #8B9933;
    text-align: center;
    text-align: left;
}

nav.slide-menu-right .slideMenuRight li:first-child {
    border-top: none
}
.menuPrimero .conBorde:last-child{
    border-bottom:none;
}
nav.slide-menu-right .slideMenuRight li:last-child {
    border-bottom: none
}
nav.slide-menu-right .slideMenuRight a {
    display: block;
    padding: 10px;
    font-size: 13px;
}

body.smr-open nav.slide-menu-right {
    right: 0;
}

nav.slide-menu-right {
    right: -300px;
}
nav.slide-menu-right {
    height: 100%;
    top: 0;
    width: 265px;
}
nav.menu {
    background-color: white;
    color: black;
    overflow: hidden;
    position: fixed;
    transition: all 0.3s ease 0s;
    z-index: 20;
   /*margin-top: 40px;
    padding-top: 35px;*/
}
.logo{
    bottom: 0px;
    position: absolute;
    background-color: #ed1c24;
    width: 100%;
    text-align: center;
}
.logo.de{
   background-color: #6d6d6d;
}
.logo img{
    width: 160px;
    padding-bottom: 5px;
    padding-top: 7px;
}

.menuAbajo {
    color: #262626;;
    height: 100%;

}
.menuAbajo span{
    margin-left: 10px;
    color: rgb(139, 153, 51);
    padding-right: 23px;
    font-weight: bold;
    font-size: 27px;
    float: left;
}
.menuAbajo img {
    margin-right: 6px;
    margin-top: -5px;
}
.menuAbajo li{

}
.menujq a, .menuA a {
    color: #8a9934;
    font-weight: bold;
    text-decoration: none;

}

.menujq ul li.desplegable ul li a:before,
.menujq ul li.desplegable.activa ul li a:before {
    content: "";
}
.menujq ul ul {
    display: none;
    width: 100%;
}

.menujq ul ul a {
    padding-left: 20px;
    background: #E77E23;
    text-transform: capitalize;
}
.activa a{
    background-color: #8a9934;
    color: white;
}

.numAlertas {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 0, 0);
    margin: 0px;
    font-size: 10px !important;
    padding-right: 0px !important;
    border-radius: 50%;
    width: 15px;
    text-align: center;
    height: 15px;
    position: relative;
    margin-left: -17px !important;
    margin-top: -5px;
}

/*Acordeón MiEmpresa*/
.acordeonEmpresa .panel-body{
    text-align: justify;
}
#miEmpresa .panel-heading{
    border-bottom: 5px solid #8b9933;
}
#miEmpresa .nombrePro{
    font-size: 13px;

}
#miEmpresa .accordion-toggle{
    display:block;
}
#miEmpresa a.accordion-toggle:hover{
    text-decoration: none;
}
.valoracionGes .valoracionPA{
    background-color: rgb(138, 153, 52);
    color: white;
    padding: 10px;
    margin-bottom: 2px;
    font-size:11px;
}
.valoracionGes .valoracionME{
    padding: 10px;
    font-size:11px;
}

.valoracionGes{
    margin-bottom:20px;
}

/* tablas */

table{
    font-size:1em;
}
th{
    text-align: center;
    background-color: rgb(139, 154, 53);
    color: rgb(255, 255, 255);
}

tr.ng-scope{
    background-color: #f5f5f5;
}

/*Balance*/
.ayuda{
    float: right;
    width: 18px;
    width: 24px;
    margin-top: -8px;
}
.mesJornada{
    text-align: center;
}
.migas span{
    color: rgb(138, 153, 52);
    margin-bottom: 10px;
}
.migas{
    border-bottom: 1px solid #e20019;
    margin-bottom: 10px;

}
#balanceActivo i, #balancePasivo i{
    margin-right:8px;
}
.fondoVerde {
    background-color: #889641;
}

.fondoVerdeClarito  {
    background-color: #CED2AD;
}

.fondoOscuro {
    background-color: #545454;
}

.fondoGris {
    background-color: #B1B1B1;
}

.fondoClarito {
    background-color: #E5E5E5;
}

.verde {
    color: #889641;
}

.verdeClarito {
    color: #CED2AD;
}

.cuadradito {
    width: 13px !important;
    height: 13px;
    border: 1px solid gray;
    float: left;
    margin-right: 10px;
}

#chart, #chart1 {
    /* width: 49% !important;*/
    /* width: 100% !important;
     height: 100% !important;*/
}

.tituloGrafica {
    text-align: center;
    width: 100%;
}

.tituloGrafica h3{
    font-size:13px;
}

.leyenda{
    font-size: 12px;
    /*  width: 39%;*/
    float: left;

}
.fondoActivoTotal{
    background-color: #DFE2C3;
}
.fondoPatrimonioTotal{
    background-color: #E2E2E2;
}
.subseccion{
    padding-left: 24px !important;
}


.alignRight {
    text-align: right;
    width:30%;
}

.menuEntero{
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
}
.izq{
    width:49%;
    float: left;

}
.dcha{
    width:49%;
    float: right;

}
.capaCanvas, .capaCanvas1{
    text-align:center;
}
/*INVERSIONES*/
.botonInversiones{
    float: left;
    width: 100%;
}
.inversiones{
    font-size: 0.7em;;
}
ul.acordeon {
    padding: 0 !important;
    margin-top: 5px;
}

ul.acordeon li {
    list-style: none;
}
.inversiones .inversiones{
    background-color: #DBE6C8;
}
.saldo{
    text-align: center;
    background-color: #8b9933;
    color: white;
    padding: 10px;
    font-size: 16px;
    margin-top: 1px;
}
.inversiones .accordion-toggle div{
    margin: 4px 0;
}
.nombreRenta{
    font-size: 14px;
    font-weight: bold;
}
.inversiones span {
    font-size: 13px;
}
.inversiones .panel-heading, #prestamos .panel-heading{
    background-color: #f8f8f8 !important;
    border-bottom: 5px solid #8b9933;
    border-color: #ddd #ddd #8b9933;
}
.rentaV{
    font-size:15px;
}
.rentaV .btn-success{

}
.importAct{
    margin-bottom: 6px;
}

.izqCV{
    background-color: #595959;
    border-radius: 5px;
    color: white;
    float: left;
    text-align: center;
    width: 48%;
}
.dchaCV{
    background-color: #595959;
    border-radius: 5px;
    color: white;
    float: right;
    text-align: center;
    width: 48%;
}
.inversiones .panel-body {
    padding: 5px 15px 8px !important;
    background-color: #DBE6C8;
}

.izqCV input{
    width: 100%;
}
.dchaCV input{
    width: 100%;
}
.btnGuardar, .botonGuardar:hover, .botonGuardar:active, .botonGuardar:focus{
    background-color: #8A9932 !important;
    width: 50%;
    margin-top: 5px;
    text-decoration: none !important;
    border-color: #8a9932 !important;
}
.capaBoton{
    text-align:center;
}

.capaBoton .btnIzda{
    padding-right:3%;
}
.capaBoton .btnDcha{
    padding-left:3%;
}

.panel-title a:hover, .panel-title a:active{
    text-decoration: none;
}
.inversiones .form-control{
    height: 27px !important;
    text-align: center;
    padding: 2px 0px !important;
}
#chartLine{
    /*  width:100% !important;
      height: 100% !important;*/
}

.fondoAzul {
    background-color: #2B7C96;
}

.fondoVerdeRenta {
    background-color: #D0A426;
}

.fondoRosa {
    background-color: #6C354E;
}

.inversiones .acordeon li:nth-child(1) .panel-heading, .proveedores .acordeon li:nth-child(1) .panel-heading{
    border-bottom-color: #2B7C96 !important;
}
.inversiones .acordeon li:nth-child(2) .panel-heading, .proveedores .acordeon li:nth-child(2) .panel-heading{
    border-bottom-color: #D0A426 !important;;
}
.inversiones .acordeon li:nth-child(3) .panel-heading, .proveedores .acordeon li:nth-child(3) .panel-heading{
    border-bottom-color: #6C354E !important;;
}
.capaCanvasInv{
    width: 100%;
    float: left;
}
.inversiones .leyenda{
    margin-top:9px;
}

/*Préstamos */
.prestamosGrafica, .miepresaGrafica, .grafifasAncho{
    width:100% !important;
    height: 400px !important;

}
.menuPrestamos .mostrado, .menuPrestamos .mostrado{
    border: 1px solid rgb(139, 153, 51);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}
.menuPrestamos {
    width: 100%;
}
.capaPrestamos{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.capaPrestamos .panel-body{
    display: none;
}
.capaPrestamos div{
    float: left;
    width: 100%;
}
.pedirPrestamos{

}

.menuPrestamos .izq, .menuPrestamos .dcha{
    text-align:center;
    padding: 5px;
    width:50% !important;
}
.izqPr{
    width: 50%;
    float: left;
}
.dchaPr{
    width: 50%;
    float: right;
}
.pedirPrestamos input{
    text-align: center;
}
.contrataPrestamo span {
    font-size: 13px;
}
.contrataPrestamo li{
  margin-bottom:10px;
}
.btnCancelar{
    margin-top: 10px;
    width: 67%;
    background-color: rgb(226, 0, 26);
    font-size: 14px !important;
}
.noMostrado{
    border-bottom: 1px solid rgb(139, 153, 51);

}
.prestamos .panel-heading{
    background-color: #f8f8f8 !important;
    border-bottom: 5px solid #8b9933;
    border-color: #ddd #ddd #8b9933;
}
.prestamos .panel-body {
    padding: 5px 15px 8px !important;
    background-color: rgba(219, 230, 200, 0.6);
}
.galeria{
    text-align:center;
}
.galeria img{
    margin-left: -60px;
}
.galeria span{
    float: left;
    margin-top: 9px;
}
.pedirPrestBoton{
width: auto !important;
}
.botonPrestamos button{
    width:77%;
}
/* subvenciones */
.capaSuvenciones{
    float: left;
    width: 100%;
    min-height: 300px;
}
.btSubvencion{
    width:252px;
}
.bold{
    font-weight:bold;
}

.nosubvencion{
    text-align: center;
    margin-bottom: 10px;
    font-weight:bold;
    margin-top:10px;
}
.izqSb{
    width:75%;
    float:left;
}
.dchaSb{
    width:25%;
    float:right;
}

/* Proveedores*/
.liContrataoProveedores select{
    text-align: center
}
.liContrataoProveedores .panel-heading{
    /* float: left;
      width: 100%;*/
}
.liContrataoProveedores .nombrePro {
    /* float: left;
     width: 100%;*/
}
.nombrePro{
    text-transform: uppercase;
    font-weight: bold;
}
.concedida{
    text-align: center;
    margin-top: 5px;
}
.concedida span{
    font-weight: bold;
}
.rojo{
    color: #E20019;
}
.rojoBold{
    color: #E20019;
    font-weight: bold;
}
#subvenciones .panel-collapse{
    display: none;
}

#subvenciones .panel-heading{
    border-bottom: 5px solid rgb(3, 151, 20);
}
.proveedoresChart{
    width:100% !important;
}

/*Publicidad */
.acordeonPublicidad li{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
#publiCoberTotal{
    border: 0;
    float: right;
    width: 48%;
    font-weight: bold;
}
.compraVenta{
    float: left;
    width: 100%;
}
#publicidad .panel{
    float: left;
    width: 100%;
}
#publicidad .panel-heading{
    float: left;
    width: 100%;
}
.izqPu{
    width: 60%;
    float: left;
}
.dchaPu{
    width: 40%;
    float: right;
}
#publicidad .compraVenta div{
    margin: 8px 0px;
}
.inversionTotal{
    float: left;
    width: 52%;

}
.invertir{
    font-weight:bold;

}
.capaBotonPubli{
    float:left;
    width:100%;
    text-align:center;

}
.izqPubGraf{
    width: 33%;
    float: left;
}
.dchaPubGraf{
    width: 34%;
    float: right;
}
.capaCanvasPub{
    width: 100%;
    float: left;
    margin-top: 10px
}
#publicidad .acordeon{
    float: left;
    width: 100%;
}
/* Proveedores*/
.capaParaGraficaMercado{
    width:100%;
    line-height: 20px;
}
.proveedores ul.acordeon li{
    margin-bottom: 10px;
}
.contrataProovedores .panel-body{
    background-color: rgb(229, 239, 215);
}
.contrataProovedores .rentaV .costeSalarial{
    width: 64%!important;
    float: right!important;
}

.tablaPro{
    margin-top: 20px;
    border: 1px solid rgb(139, 154, 53);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 10px;
}
#proveedoresTable thead tr{
    border-bottom: 3px solid rgb(0, 0, 0);
}

#proveedoresTable thead td{
    font-weight: bold;
    text-align: center;
    background-color: #E8E6E7;
}
#proveedoresTable tbody td:nth-child(2), #proveedoresTable tbody td:nth-child(3){
    text-align: center;
}
#proveedoresTable tr.ng-scope {
    background-color: white !important;
}
.contrataProovedores .rentaV div{
    margin: 3px 0px;
    float: left;
    width: 100%;
}
.contrataProovedores .rentaV span{
    width: 50%;
    width: 35%;
    float: left;
}.contrataProovedores .rentaV input{
    width: 49%;
    width: 64%;
    float: right;
    text-align: center;
}
.contrataProovedores .rentaV select{
    width: 49%;
    width: 64%;
}

/*Contratación */
.contratacion .galeria span.tituloContratacion{
    color: rgb(139, 153, 51);
    font-size: 16px;
    font-weight: bold;
    float: none !important;
}
.verdeOscuro{
    background-color: #525F07;
    margin-bottom: 10px;
}

.verdeOscuro ul{
    padding-top: 10px;
    padding-bottom: 10px;
}
.verdeOscuro ul li{
    color:white;
    list-style: initial;
}
.contratacion .panel-heading{
    float: left;
    width: 100%;
}
.izqPoblacion{
    width: 25%;
    float: left;
}
.dchaPoblacion{
    width: 70%;
    float: right;
}
.dchaPoblacion div{
    margin: 2px 0px;
}

.contratacionPersonas .panel-default{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
element.style {
}
.despedir .panel-body {
    display: none;
}
.costeSalarial{
    border: 1px solid rgb(139, 153, 51);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.contratacionPersonas .rentaV span {
    width: 50%;
    float: left;
}

.contratacionPersonas .rentaV div{
    float: left;
    width: 100%;
    margin: 2px 0px;
}
.contratacionPersonas .rentaV input{
    width: 50%;
    float: right;
    text-align: center;
}
.contratacionPersonas .rentaV select{
    width: 50%;

}
.menuContratacion{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.menuContratacion input{
    margin-left: 5px;
}
.izqMenCont{
    width: 40%;
    float: left;
}
.dchaMenCont{
    width: 60%;
    float: left;
}
.poblacionDetalle{
    font-size: 14px;
}

/*Organizacion */
#organizacionPersonas .panel-collapse{
    background-color: rgb(229, 239, 215);
}
#organizacionPersonas .rentaV{
    margin-top:10px;
}
#organizacionPersonas input[type='checkbox']{
    width: 10%;
    float: left;
}

.formSiNo{
    width: 14% !important;
}
.presupuestoDetalle div{
    margin:5px 0px;
}
.presupuestosAcordeon .panel-collapse{
    background-color: #E5EFD7;
}
.presupuestoDetalle{
    font-size: 14px
}
.formPresu{
    margin: 5px 0px;
}
.horas{
    font-weight:bold;
}
.izqPre{
    background-color: rgb(89, 89, 89);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    float: none;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.izqPre input{
    width: 100%;
    text-align: center;
}
.inputPresu{
    margin:10px 0px;
}
.presupuestosAcordeon .panel-default{
    float: left;
    width: 100%;
    margin-bottom:10px;
}

.formacion div {
    width: 50px !important;
}

/*Gestión de proyectos*/
.horasDisponibles{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.horasDisponibles .izq div, .horasDisponibles .dcha div{
    font-size: 14px;
    margin: 10px 0px;
    font-weight: bold;
}
.formPresu .btnGuardar{
    width:67%;
}
.formPresu .capaBoton{
    float: left;
    width: 100%;
    margin-top: 10px;
 }
.formPresu input, .asignarHoras{
    text-align: center;
}
.asignarHoras{
    margin: 5px 0px;
}

/*info de mercado*/
.sinAcordeon .panel-body{
    display: none;
}
.formInfoMercado span{
    float: left;
}
.capaMercado{
    font-weight:bold;
    float: left;
    margin-top: 10px;
    line-height: 12px;
}
.capaParaGraficaMercado{
     line-height: 23px !important;
 }
.capaParaGraficaMercado .cuadradito{
    margin-right: 10px !important;
}

/* Alertas, página notificaciones */
.imagenAlertas{
    width: 20px;
    margin-bottom: 4px;
    margin-right: 5px;
}
#capaAlertas{
    margin: 0 5%;
    background-color: #FFFFFF;
    border: 1px solid #8A9932;
    border-radius: 5px;
    margin-bottom: 10px;
    float: left;
}

.alertasText .titulo{
    background-color: #8A9932;
    color: white;
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}
.alertasText .titulo.leido{
    background-color: #c3c3c3;
}

.contenidoAlertas{
    float: left;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    text-align: justify;
}
/* ups */
.capaUps{
    position: fixed;
    z-index: 11111;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    font-size: 15px !important;
    padding-top:40px;
    overflow: auto;
}
.capaUps .btn{
    margin-top:20px;
}
.ups{
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: white;
    text-align: center;
    width:100%;
}
.ups_mensaje{
    padding: 20px;
    text-align: justify;
}
.ups_titulo{
    color: #DB3B2F;
}
.ups_img{
    width: 94px;
    margin-top: 10px;
}
.ups .btn{
    margin-top:50px;
    padding-top: 6px;
}
.tituloInfor, {
    text-align:justify;
}

/*Información */
.capanInformacion img{
    margin-bottom: 20px;
}
.capanInformacion .tituloInfor{
    margin-bottom: 10px;
}
.capanInformacion{
    font-size: 15px;
}

/*Ranking*/
.rankingSituDifMulti, .rankingSituDif{
    margin-top:10px;
}

.tituloRanking{
    font-size: 1.1em !important;
}
.ranking {
    width: 100%;
}

.ranking th {
    padding: 10px 3px;
    background-color:#737373 !important;
}

.ranking td {
    border-bottom: 1px solid #8A9932;
    padding: 10px 3px;
}
.ranking tr{
    font-size: 14px;
}
.capaRanking{
    width:91%;
}
.rankingPersonal{
    width:40%;
    float: left;
    padding: 9px;
}
.rankingImg{
    width:20%;
    float: left;
}
.rankingGlobal{
    width:40%;
    float: left;
    padding: 9px;
}
.destacado{
   background-color: #B5BE80 !important;
    color: white;
}
.textoSub{
    color: rgb(138, 153, 50);
    border-bottom: 1px solid rgb(138, 153, 50);
}
.rankingSituDifMulti select{
    width: 60%;
    float: left;
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    background: rgb(139, 153, 51);
    color: rgb(255, 255, 255);
}
.rankingSituDifMulti a{
    padding-left: 8px;
    padding-top: 5px;
}
.rankingSituDif select{
    width: 40%;
    float: left;
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    background: rgb(139, 153, 51);
    color: rgb(255, 255, 255);
}
.rankingSituDif a{
    padding-left: 8px;
    padding-top: 5px;
}
.consultaRanking{
    font-size: 12px !important;
    padding-top: 9px;
}
/*Ayuda*/
.capaAyuda p, .capaAyuda ul{
    text-align: justify;
}
.tituloSecundario{
    font-weight:bold;
}
.capaAyuda img{
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 8px;
    width: 30px;
}

.listado_numeros{
    list-style-type: decimal;
}


.listado_letras {
    list-style-type: lower-alpha;
}

.listado_letras > li {
    font-weight: 600;
}

.listado_puntos {
    font-weight: 500;
    /*font-style: italic;*/
}

/* mantenimiento */
.ups_mantenimiento{
    text-align: center;
}
.ups_mantenimiento span{
    font-size: 20px;
    font-weight: bold;
    color: rgb(136, 150, 65);
}
.capaMantenimiento .cerraSesion{
    width:90% !important;
    bottom: 60px !important;
}
.tituloLogin{
    text-align: center;
    border: 1px solid rgb(138, 153, 50);
    border-radius: 5px 5px 0px 0px;

}
.tituloLogin span{
    font-size:22px;
    text-transform: uppercase;
}
.capaLogin{
    background-color: rgba(255,255,255, 0.6);
      border-radius: 5px;
}
.btn-registro{
      background-color: #8A9932 !important;
      border-color: #8A9932 !important;
      width: 100%;
}
.avisoRed{
    color:red;
}
/* premio */
.galeriaPremios{
    text-align: center;
}
.capaPremioGeneral{
        border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    margin: 10px 10%;
    padding: 15px;
}
.capaPremio{

}
.capaPremio_1{
        width: 50%;
    text-align: center;
    margin: 0 auto;
}
.texto_blanco{
    color: white;
}
.recuperarPwd{
    color: white;
}
.recuperarPwd:hover{
    color:white;
}
.capaSorteoGeneral{
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    margin: 10px 5%;
    padding: 15px;
    width: 40%;
    float: left;
}
.capaSorteoGeneral.activo{
    border: 1px solid #F00;
}
.capaSorteo{

}
.detalleSorteo{

}
.capaSorteoImg{
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90px;
}

.capaSorteoImg{
    background-image: url("../img/Sorteos_Star_GRIS.svg");
}

.capaSorteoGeneral.activo .capaSorteoImg{
    background-image: url("../img/Sorteos_Star_VERDE.svg");
}

.capaSorteoImg span{
    clear: both;
    float: none;
    display: block;
    padding-top: 1.0em;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

.capaSorteoImg .nivel{
    font-size:1.2em
}
.capaSorteoDescrip{
    padding-top: 0.5em;
    font-size:1.2em
}

.puntuacionSorteo{
    border-top: 1px solid rgb(128, 128, 128);
    margin-top: 0.5em;
    padding-top: 0.5em;
}
.capaSorteoGeneral.activo .puntuacionSorteo{
    border-top: 1px solid #F00;
}

.puntuacionSorteo  span{
    clear: both;
    float: none;
    display: block;
    
    
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.75em;
}
.puntuacionSorteo.indicacion{

}
.puntuacionSorteo .puntos{
    font-size:1.2em;
}

.capaFase {
    margin: 2%;
    clear: both;
}

.capaFase .titulo, .tituloFase {
    background-color: #DDD !important;
    color: #000 !important;
    
    background-color: #F5F5F5 !important;
    color: #000 !important;
    text-transform: uppercase;
    text-align: center;
}

.capaFase .capaCalendarioGeneral {
    border: 2px solid #8A9932;
    /*height: 32.0em;   */
    height: 100%;
    display: inline-block;
    width: 100%;
}

.capaFase .capaCalendarioGeneral .cabecera_mes {
    color: #8A9932;
    text-align: center;
    float: none;
    clear: both;
    display: block;
    text-transform: uppercase;
}

.capaFase .capaCalendarioGeneral .capaDia {
    width: 33%;
    width: 33.33%;
    float: left;    
    border-right: 1px solid #8A9932;
}

.capaFase .capaCalendarioGeneral .capaDia .cabecera {
    height: 3.5em;
    text-align: center;
}

.capaFase .capaCalendarioGeneral .capaDia .cabecera span{
    clear: both;
    float: none;
    display: block;
}
.capaFase .capaCalendarioGeneral .capaDia .cabecera .letra{
    text-transform: Capitalize;
}

.capaFase .capaCalendarioGeneral .capaDia .cabecera .numero{
    font-size: 1.5em;
}

.capaFase .capaCalendarioGeneral .capaDia  .contenido{
    
}

.capaFase .capaCalendarioGeneral .capaDia  .contenido .decision{
    text-align: center;
    width:50%;
    width:100%;
    float: left;
    
}

.capaFase .capaCalendarioGeneral .capaDia  .contenido .decision .reloj {
    background-image: url("../img/ico_reloj_calendario.svg");
    padding-top: 4.25em;
    font-size: 0.65em;
    background-repeat: no-repeat;
    color: #8A9932;
    background-position: top;
}

.capaFase .capaCalendarioGeneral .capaDia .contenido .decision .cifra{
    font-size: 1.2em;
}

.capaFase .capaCalendarioGeneral .capaDia .contenido .decision .mensaje{
    font-size: 0.55em;
    font-size: 0.75em;
}


.capaFase .capaCalendarioGeneral .cabecera {
    background-color: #8A9932;
    color: #FFF;
}

.capaFase .capaCalendarioGeneral .capaPreDescrip {

}

.bases .ponderacionFasesNacionales {
    font-size:0.65em;
}

.bases .ponderacionFasesNacionales div{
    min-height: 5.0em;
}

.bases .ponderacionFasesNacionales .cabecera, .bases .ponderacionFasesNacionales .pie, .bases .ponderacionFasesNacionales .pie_datos {
    clear:both;
    width:100%;
    text-align: center;
}
.bases .ponderacionFasesNacionales .cabecera div, .bases .ponderacionFasesNacionales .pie div, .bases .ponderacionFasesNacionales .pie_datos div {
    border: solid 1px #8A9932;
    background-color: #8A9932;
    color: #FFF;
    float:left;
    width:20%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    min-height: 5em;
    padding-top: 0.5em;
    min-height: 7em;
}

.bases .ponderacionFasesNacionales .pie div {
    background-color: #666;
    color: #FFF;
    min-height: 7em;
}

.bases .ponderacionFasesNacionales .pie_datos div {
    background-color: #FFF;
    color: #8A9932;
    font-size: 1.25em;
    padding-top: 1.5em;
}

.bases .ponderacionFasesNacionales .pie div.vacio, .bases .ponderacionFasesNacionales .pie_datos div.vacio {
    background-color: transparent;
    color: #FFF;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.bases .ponderacionFasesNacionales .pie_datos div.vacio {
    border: none;
}

.bases .ponderacionFasesNacionales .cabecera div:first-child, .bases .ponderacionFasesNacionales .pie div:first-child, .bases .ponderacionFasesNacionales .pie_datos div:first-child {
    border: 2px solid transparent;
    /*background-color: #666;*/
    background-color: transparent;
    width:14%;
}

.bases .ponderacionFasesNacionales .fase {
    clear:both;
    
}
.bases .ponderacionFasesNacionales .fase  span {
    font-size: 0.75em;
}
.bases .ponderacionFasesNacionales .fase  .descripcion {
    line-height: 0.25em;
    padding: 0px;
    margin: 0px;
}
.bases .ponderacionFasesNacionales .fase  .indice{
    float:none;
    clear:both;
    background-image: url("../img/Circulo_Verde.svg");
    width: 100%;
    width: 85%;
    display: block;
    font-size: 1.75em;
    background-size: 100% 100%;
    min-height: 1.5em;
    color: #FFF;
    padding-top: 0.25em;
    margin-left: 7.5%;
}

.bases .ponderacionFasesNacionales .fase div{
    width: 20%;
    float: left;
    border-left: solid 1px #8A9932;
    border-right: solid 1px #8A9932;
    text-align: center;
    padding-top: 1.1em;
    font-size: 1.2em;
    width:20%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: #FFF;
}
.bases .ponderacionFasesNacionales .fase div:first-child{
    border: 1px solid transparent;
    background-color: transparent;
    width:15%;
    margin-left: 0;
    margin-right: 0;
}

.bases .ponderacionFasesNacionales .fase div:first-child div{
    border: 1px solid transparent;
}
.bases .ponderacionFasesNacionales .fase:last-child div{
    border-bottom: 1px solid #8A9932;
}

.bases .ponderacionFasesNacionales .fase div.caja{
    border-bottom: solid 1px #8A9932 !important;
    margin-left:5%;
    margin-right:5%;
    width:90%;
}
.bases .ponderacionFasesNacionales .fase:nth-last-child(3){
    
}
.bases .ponderacionFasesNacionales .fase:nth-last-child(3) div.caja{
    border-bottom: none !important;
}

.bases .ponderacionFasesNacionales .fase:nth-last-child(3) div:first-child{
    border-bottom: none !important;
}


.concursoligaNacional .faseConcurso {
    width:33%;
    float:left;
}

.faseFinal .aviso {
    font-weight:800;
    font-size:1.25em;
}

.faseFinal .detalle {
    background-image: url("../img/FaseFinal_VERDE_icono.svg");
    min-height: 12.5em;
    background-repeat: no-repeat;
    background-position: top;   
}

.faseFinal .detalle.gris {
    background-image: url("../img/FaseFinal_GRIS_icono.svg");
}

.faseFinal .detalle span{
    z-index: 99;
    padding-top: 7em;
    display: block;
    font-weight: 700;
    font-size: 1em;
}