<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="santanderApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/sweet-alert.css" />
		<link rel="stylesheet" type="text/css" href="css/timer-progress.css" />
		<link rel="shortcut icon" href="https://www.emprende-santander.com/front/images/favicon.ico">
		<!--<link rel="stylesheet" type="text/css" href="css/angular-timer-bower.css" />-->
		<!--<link rel="stylesheet" type="text/css" href="css/slidebars.css" />-->
        <meta name="msapplication-tap-highlight" content="no" />
		<!-- Enable all requests, inline styles, and eval() -->
		<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-inline' 'unsafe-eval' * ">
        <title>Santander App</title>
    </head>
    <body ng-controller="mainController">
        <div id="overlay" ng-show="showOverlay">
            <img class="loader" src="img/loader.gif"/>
        </div>
        <header ng-switch on="loggedInUser">
            <div  class="col-lg-4 col-xs-2 col-md-4 col-sm-2">
                <!--<img ng-show="android" class="constelacion" src="img/constelacion.png" ng-click="isOpenConst=!isOpenConst"/>-->
                <img class="constelacion" src="img/constelacion.png" ng-click="openConst()"/>
            </div>
            <div class="col-lg-4 col-xs-8 col-md-4 col-sm-8 tituloCabecera" ng-show="tituloEmprende">{{ 'Emprende.emprende' | translate }}</div>
            <div class="col-lg-4 col-xs-8 col-md-4 col-sm-8 tituloCabeceraConcurso" ng-show="tituloEmprendeConcurso">{{ 'Concurso.tituloConcurso' | translate }}</div>
            <div ng-if="isLogged && showMenu" class="col-lg-4 col-xs-2 col-md-4 col-sm-2">
               <!-- <img src="img/bell.png" />-->
                <img src="img/menuIcon.png" class="slidebarToggle toggle-slide-right" ng-click="toggleSidebar()"/>
            </div>
        </header>

        <!--<div class="constelacionAbierto ocultarConstelacion" ng-class="{'constelacionAbierto mostrarConstelacion': isOpenConst, 'constelacionAbierto ocultarConstelacion': !isOpenConst}">-->
        <div class="constelacionAbierto" >
            <div class="logoSanConteslacion">
                <img src="img/LogoSantanderUniv_Transparente.png"/>
            </div>
            <div id="constelacionEmprende" class="constImg">
                <div><img src="img/ico_APP_Emprende_72x72.png"/></div>
                <div><span >{{ 'Emprende.emprende' | translate }}</span></div>
            </div>
            <div id="constelacionBecas" class="constImg" ng-click="irBecas()">
                <div><img src="img/ico_APP_Becas_72x72.png"/></div>
                <div><span >{{ 'Emprende.becas' | translate }}</span></div>
            </div>
            <div id="constelacionFormacion" class="constImg" ng-click="irFormacion()">
                <div><img src="img/ico_APP_Formacion_72x72.png"/></div>
                <div><span>{{ 'Emprende.formacion' | translate }}</span></div>
            </div>

           <!-- <div class="constelacionCerrar"><img src="img/ico_Constelac_blanco.png" ng-click="isOpenConst=!isOpenConst"/></div>-->
            <div class="constelacionCerrar"><img src="img/ico_Constelac_blanco.png" ng-click="closeConst()"/></div>

        </div>

        <div id="sb-site">
            <div class="app" ng-view>
                <div id="video">
                <img class="videoAnimado" src="img/santander_universidades_25fps.gif"/>
            </div>
            </div>
        </div>


      <!--  <nav class="sb-slidebar sb-right menu slide-menu-right">-->
        <nav id="accordion" class="menu slide-menu-right " ng-swipe-right="toggleSidebar()" >

            <div class="menuArriba menujq">
                <ul class="slideMenuRight menuPrimero">
                    <li class="conBorde"><a class="empresa botonPrincipal desplegable">{{ 'Inicio.miEmpresa' | translate }}</a>
                        <ul>
                            <li><a href="#/miEmpresa">{{ 'Inicio.empresa' | translate }}</a></li>
                            <li><a href="#/balance">{{ 'Inicio.balance' | translate }}</a></li>
                            <li><a href="#/pyg">{{ 'Inicio.pyg' | translate }}</a></li>
                            <li><a href="#/efe">{{ 'Inicio.efe' | translate }}</a></li>
                        </ul>
                    </li>
                    <li class="conBorde"><a class=" financiera botonPrincipal desplegable">{{ 'Inicio.Financiera' | translate }}</a>
                        <ul>
                            <li><a href="#/prestamos">{{ 'Inicio.prestamos' | translate }}</a></li>
                            <li><a href="#/inversiones">{{ 'Inicio.inversionesFi' | translate }}</a></li>
                            <li><a href="#/subvenciones">{{ 'Inicio.subveciones' | translate }}</a></li>
                        </ul>
                    </li>
                    <li class="conBorde"><a class="marketing botonPrincipal desplegable">{{ 'Inicio.marketing' | translate }}</a>
                        <ul>
                            <li><a href="#/presupuestos">{{ 'Inicio.presupuestos' | translate }}</a></li>
                            <li><a href="#/mercado">{{ 'Inicio.infoMercado' | translate }}</a></li>
                            <li><a href="#/publicidad">{{ 'Inicio.publicidad' | translate }}</a></li>
                        </ul>
                    </li>
                    <li class="conBorde"><a class="compras botonPrincipal desplegable">{{ 'Inicio.compras' | translate }}</a>
                        <ul>
                            <li><a href="#/proveedores">{{ 'Inicio.proveedores' | translate }}</a></li>
                            <li><a href="#/necesidades">{{ 'Inicio.necesidades' | translate }}</a></li>
                        </ul>
                    </li>
                    <li class="conBorde"><a class="rrhh botonPrincipal desplegable">{{ 'Inicio.recursosHumanos' | translate }}</a>
                        <ul>
                            <li><a href="#/proyectos">{{ 'Inicio.gestProyectos' | translate }}</a></li>
                            <li><a href="#/contratacion">{{ 'Inicio.contratacion' | translate }}</a></li>
                            <li><a href="#/organizacion">{{ 'Inicio.organizacion' | translate }}</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="menuAbajo menuA">
                <ul class="slideMenuRight menuPrimero">
                    <li class="conBorde conBordeSup"><span>?</span><a href="#/ayuda"  ng-click="closeSidebar()">{{ 'Inicio.ayuda' | translate }}</a> </li>
                    <li class="conBorde"><a href="#/alertas" class="alertas" ng-click="closeSidebar()">{{ 'Inicio.alertas' | translate }} <span ng-if="totalAlertas > 0" class="numAlertas">{{ totalAlertas }}</span></a> </li>
                    <li class="conBorde"><a href="#/menuPrincipal" class="inicio" ng-click="volverEmprende();closeSidebar()">{{ 'Inicio.opciones' | translate }}</a> </li>
                    <li class="conBorde conBordeMes" ng-if="tipoPartida==1">
							<a ng-if="partidaTerminadaSingle=='false'" ng-click="pasarJornada()" class="mes">{{ 'Inicio.pasarMes' | translate }}</a>
							<a ng-if="partidaTerminadaSingle=='true'" class="mes rojo">{{ 'Inicio.finalizada' | translate }}</a>
							<div ng-if="partidaTerminadaSingle=='true'">
								<span class="consultaRanking">{{ 'comunes.consultaRanking' | translate }}</span>
							</div>
                    </li>
					<li class="conBorde conBordeMesMulti" ng-if="tipoPartida!=1">
						<div class="capaInfoMultiMenu">
                            <div>
                                <span class="consultaRanking multiPlayerSpan">{{ 'comunes.empresasMultiActivas' | translate }}</span>
                               <!-- <img class="iconos_menu_multi" src="img/ico_Menu_Empresas.png"/>-->
                                <span class="consultaRanking multiPlayerDatos">{{mundoMultiData.totalEmpresas}}</span>
                            </div>
							<div>
                                <span class="consultaRanking  multiPlayerSpan">{{ 'comunes.proximoPJFecha' | translate }}</span>
                               <!-- <img class="iconos_menu_multi" src="img/ico_Menu_Tiempo.png"/>-->
                                <span class="consultaRanking multiPlayerDatos">{{ mundoMultiData.mundo['tiempoRestante'] / 60 | number:0 }} {{ 'comunes.proximoPJTiempoRestante2' | translate }}</span>
                            </div>
							<div>
                                <span class="consultaRanking  multiPlayerSpan">{{ 'comunes.jornadaActualMercado' | translate }}</span>
                              <!--  <img class="iconos_menu_multi" src="img/ico_Titu_Pasames.png"/>-->
                                <span class="consultaRanking multiPlayerDatos">{{ mundoMultiData.mundo['jornadaActual'] }} / {{ mundoMultiData.mundo['maxDecisionesMundo'] }}</span>
                            </div>
							
						</div>
                    </li>
                </ul>
            </div>

            </ul>

            <div class="logo"><img src="img/Logo_Incio.png"/></div>
        </nav>

        <!--Scripts-->
        <script src="js/jquery.min.js"></script>
        <script src="Scripts/mediaelement-and-player.min.js"></script>
        <link rel="stylesheet" href="css/mediaelementplayer.min.css" />
        <script type="text/javascript" src="js/cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        
        <script type="text/javascript">
           // app.initialize();
           function onBackKeyDown(evt) {
                evt.preventDefault();
                evt.stopPropagation();
             }
             document.addEventListener('deviceready', onDeviceReady, false);
             function onDeviceReady(){
                receivedEvent('deviceready');
				
				 
             }
             function receivedEvent(id){
                if(window.plugins) {
                    if(window.plugins.statusbarOverlay) {
                        window.plugin.statusbarOverlay.hide();
                    }
                }
                document.addEventListener("deviceready", onDeviceReady, false);
                function onDeviceReady() {
                    document.addEventListener("backbutton", onBackKeyDown, false);

                }
                function onBackKeyDown() {
               
				}
				
								
				/* 
				function initPushwoosh()
				{
					alert("pushWoosh");
					var pushNotification = cordova.require("com.pushwoosh.plugins.pushwoosh.PushNotification");
				 
					//set push notifications handler
					document.addEventListener('push-notification', function(event) {
						var title = event.notification.title;
						var userData = event.notification.userdata;
												 
						if(typeof(userData) != "undefined") {
							console.warn('user data: ' + JSON.stringify(userData));
						}
						 swal({
							title:'',
							text: title,
							type: "warning",
							showCancelButton: false,
							confirmButtonColor: "#889641",
							confirmButtonText: $translate.instant('comunes.aceptar'),
						  });                        
					});
				 
					//initialize Pushwoosh with projectid: "GOOGLE_PROJECT_ID", pw_appid : "PUSHWOOSH_APP_ID". This will trigger all pending push notifications on start.
					pushNotification.onDeviceReady({ projectid: "589484139211", pw_appid : "725CE-18B33" });
				 
					//register for pushes
					pushNotification.registerDevice(
						function(status) {
							var pushToken = status;
							console.warn('push token: ' + pushToken);
						},
						function(status) {
							console.warn(JSON.stringify(['failed to register ', status]));
						}
					);
				}
				initPushwoosh();
				*/				
			}

        </script>

        <!--Estilos -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>


        <script type="text/javascript" src="Scripts/angular.min.js"></script>
		<script type="text/javascript" src="Scripts/angular-cookies.js"></script>
        <script type="text/javascript" src="Scripts/angular-route.min.js"></script>
        <script type="text/javascript" src="Scripts/angular-touch.js"></script>
        <script type="text/javascript" src="Scripts/angular-translate.js"></script>
        <script type="text/javascript" src="Scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script type="text/javascript" src="Scripts/Chart.js"></script>
        <script type="text/javascript" src="Scripts/sweet-alert.min.js"></script>
        <script type="text/javascript" src="Scripts/Launcher.js"></script>
        <script type="text/javascript" src="Scripts/GAPlugin.js"></script>
        <script type="text/javascript" src="Scripts/GALocalStorage.js"></script>
		<script type="text/javascript" src="Scripts/moment.js"></script>
		<script type="text/javascript" src="Scripts/humanize-duration.js"></script>
		<script type="text/javascript" src="Scripts/angular-timer.min.js"></script>		
        <script type="text/javascript" src="Scripts/ga.js"></script>

        <script type="text/javascript">
			ga_storage._enableSSL(true);
            ga_storage._setAccount('UA-60261886-1');
            ga_storage._setDomain('www.emprende-santander.com');
            ga_storage._trackPageview('/index.html');
			

        </script>

        <!--Translations-->
        <script type="text/javascript" src="app/translations/enTranslations.js"></script>
        <script type="text/javascript" src="app/translations/espTranslation.js"></script>
        <script type="text/javascript" src="app/translations/ptTranslations.js"></script>
		<script type="text/javascript" src="app/translations/deTranslations.js"></script>
		
		<!-- App.js-->
        <script type="text/javascript" src="app/app.js"></script>

        <!--Plugin detectar pais -->
        <script src="https://code.jquery.com/jquery-latest.js"></script>

       <!--Plugin encriptacion -->		
		<script type='text/javascript' src="Scripts/encrypt/aes.js"></script>
		<script type='text/javascript' src="Scripts/encrypt/tripledes.js"></script>
		<script type='text/javascript' src="Scripts/encrypt/mode-ecb.js"></script>
		<script type='text/javascript' src="Scripts/encrypt/CryptoJSCipher.js"></script>
		<script type='text/javascript' src="Scripts/encrypt/angularjs-crypto.js"></script>
		

        <!--Controllers-->
        <script type="text/javascript" src="app/controllers/mainController.js"></script>
        <script type="text/javascript" src="app/controllers/loginController.js"></script>
        <script type="text/javascript" src="app/controllers/registroController.js"></script>
        <script type="text/javascript" src="app/controllers/bienvenidaController.js"></script>
        <script type="text/javascript" src="app/controllers/menuPrincipalController.js"></script>
        <script type="text/javascript" src="app/controllers/PartidaController.js"></script>
        <script type="text/javascript" src="app/controllers/opcionesController.js"></script>
        <script type="text/javascript" src="app/controllers/miEmpresaController.js"></script>
        <script type="text/javascript" src="app/controllers/balanceController.js"></script>
        <script type="text/javascript" src="app/controllers/pygController.js"></script>
        <script type="text/javascript" src="app/controllers/efeController.js"></script>
        <script type="text/javascript" src="app/controllers/inversionesFiController.js"></script>
        <script type="text/javascript" src="app/controllers/prestamosController.js"></script>
        <script type="text/javascript" src="app/controllers/subvencionesController.js"></script>
        <script type="text/javascript" src="app/controllers/proveedoresController.js"></script>
        <script type="text/javascript" src="app/controllers/publicidadController.js"></script>
        <script type="text/javascript" src="app/controllers/contratacionController.js"></script>
        <script type="text/javascript" src="app/controllers/organizacionController.js"></script>
        <script type="text/javascript" src="app/controllers/proyectosController.js"></script>
        <script type="text/javascript" src="app/controllers/presupuestosController.js"></script>
        <script type="text/javascript" src="app/controllers/mercadoController.js"></script>
        <script type="text/javascript" src="app/controllers/necesidadesController.js"></script>
        <script type="text/javascript" src="app/controllers/alertasController.js"></script>
        <script type="text/javascript" src="app/controllers/infoUsuarioController.js"></script>
        <script type="text/javascript" src="app/controllers/informacionController.js"></script>
        <script type="text/javascript" src="app/controllers/rankingController.js"></script>
        <script type="text/javascript" src="app/controllers/rankingControllerMulti.js"></script>
        <script type="text/javascript" src="app/controllers/ayudaController.js"></script>
        <script type="text/javascript" src="app/controllers/mantenimientoController.js"></script>
		<script type="text/javascript" src="app/controllers/pasoJornadaController.js"></script>
        <script type="text/javascript" src="app/controllers/concursoController.js"></script>
        <script type="text/javascript" src="app/controllers/premiosController.js"></script>
        <script type="text/javascript" src="app/controllers/concursoLigaNacionalController.js"></script>
		<script type="text/javascript" src="app/controllers/concursoFaseFinalController.js"></script>
        <script type="text/javascript" src="app/controllers/recuperarPassword.js"></script>
        <script type="text/javascript" src="app/controllers/rankingConcursoController.js"></script>
		<script type="text/javascript" src="app/controllers/basesController.js"></script>
		<script type="text/javascript" src="app/controllers/calendarioController.js"></script>

        <!-- Directivas-->
        <script type="text/javascript" src="app/directives/onSelectDirective.js"></script>
		<script type="text/javascript" src="app/directives/modelviewformatDirective.js"></script>
		<script type="text/javascript" src="app/directives/ng-currency.js"></script>
		<script type="text/javascript" src="app/directives/tmhDynamicLocale.js"></script>

        <!--Services-->
		<script type='text/javascript' src="app/services/services.js"></script>
        <script type="text/javascript" src="app/services/dataService.js"></script>
		<script type="text/javascript" src="app/services/storageService.js"></script>
    </body>
</html>
