<div class="fondoNuevaPartida" ng-controller="infoUsuarioController">
    <div id="nuevaPartida" class="capaOpciones">
        <div class="titulo">{{ 'InfoUsuario.infoUsuario' | translate }}</div>
        <div class="groupOptions usuarios">
           <div class="capaUsuarios">
               <div class="usuImg"><img src="img/icono_usuario.gif"/> </div>
               <div class="usu"><span class="optionsText">{{ usuario }}</span></div>
           </div>
            <div class="capaUsuarios">
                <div class="usuImg"><img src="img/icono_password.gif"/> </div>
                <div class="usu"><span class="optionsText">{{ pass }}</span></div>
            </div>

        </div>

        <a class="btn btn-success btnGuardar" ng-click="aceptar()">{{'comunes.aceptar' | translate}}</a>
    </div>
</div>


