<div id="menuOpciones" class="fondo" ng-controller="menuPrincipalController">
    <div class="menuOpciones">
        <a class="form-control btnGuardar btn btn-success" ng-click="nuevaPartida();" >{{ 'MenuPrincipal.nuevaPartida' | translate }} </a>
        <a class="form-control btnGuardar btn btn-success" ng-click="continuarPartida();">{{ 'MenuPrincipal.continuarPartida' | translate }} </a>
        <a class="form-control btnGuardar btn btn-success" href="#/opciones">{{ 'MenuPrincipal.configuracion' | translate }}</a>
       <!-- <a class="form-control btn btn-success btnGuardar" href="#/infoUsuario">Info de usuario</a>-->
       <a class="form-control btn btn-success btnGuardar" ng-show="verConcurso" ng-hide="!verConcurso" ng-click="epocaConcurso()">{{ 'MenuPrincipal.concurso' | translate }}</a>
        <a class="form-control btn btn-success btnGuardar" href="#/rankingSeleccionarMultiSingle">{{ 'MenuPrincipal.ranking' | translate }}</a>

    </div>
    <div class="cerraSesion">
        <!--<a class="form-control btnGuardar btn btn-success " ng-click="logout();">Cerrar sesión </a>-->
        <a ng-show="android" class="form-control btnGuardar btn btn-success " ng-click="salir();">{{ 'MenuPrincipal.salir' | translate }} </a>
    </div>
</div>