<div ng-controller="presupuestosController">
    <div id="prestamos" class="contratacion capaComun presupuestos">
        <div class="migas"><span>{{ 'migasPan.marketing' | translate }} > </span> {{ 'Presupuestos.presupuestos' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>

            <div class="presupuestosAcordeon" id="presupuestosAcordeon">
                <ul class="acordeon">
                    <accordion close-others="true">
                        <li ng-repeat="presupuestos in presupuestosInfo">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    <div class="presupuestoDetalle">
                                        <div><span class="nombrePro">{{ 'Presupuestos.idProyecto' | translate }}: </span><span class="verde">{{presupuestos.idProyecto}}</span>
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                        </div>
                                        <div><span>{{ 'Presupuestos.origenProyecto' | translate }}: </span> <span class="verde">{{origenProyecto[presupuestos.idMercado - 1]  | translate }}</span></div>
                                        <div><span>{{ 'Presupuestos.costeEstimado' | translate }}: </span><span class="verde" ng-currency ng-model="presupuestos.costeEstimado" sin-decimales=1 >{{presupuestos.costeEstimado}} </span></div>
                                        <div><span>{{ 'Presupuestos.fechaEntrega' | translate }}:</span> <span class="verde">{{devolverMes(momentoReferencia + parseInt(presupuestos.momentoEntregaEstimado))}} </span></div>
                                    </div>
                                </accordion-heading>

                                <form class="rentaV formPresu" name="rentaV">

                                    <div class="horas"><span>{{ 'Presupuestos.horasEstPro' | translate }}: </span><span class="verde">{{presupuestos.horasProgPendientes}} </span></div>
                                    <div class="horas"><span>{{ 'Presupuestos.horasEstDisenio' | translate }}: </span><span class="verde">{{presupuestos.horasDisePendientes}} </span></div>
                                    <div class="inputPresu">
                                        <div class="izqPre"><span>{{ 'Presupuestos.presupuestoMay' | translate }}</span><input select-on-click type="tel" min="0" ng-init="presupConvertido=0" class="form-control" name="presupConvertido" ng-model="presupConvertido" ng-currency campo-editable customer-info="presupuesto" sin-decimales=1 /></div>
                                    </div>
                                    <div class="capaBoton">
										<span class="error" ng-show="rentaV.presupuesto.$error.min">{{ 'Presupuestos.errorNegativo' | translate }}</span><br>
                                        <button ng-show="!rentaV.presupuesto.$error.min" class="form-control btnGuardar btn btn-success" ng-click="solicitarProyecto(presupuestos.idProyecto, presupuesto, presupuestos.costeEstimado)"  type="submit">{{ 'comunes.enviar' | translate }}</button>
                                    </div>

                                </form>
                            </accordion-group>
                        </li>

                    </accordion>
                </ul>
                <div class="nosubvencion" ng-show="ningunPresupuesto">
                    <span class="noSubvencion">{{ 'Presupuestos.noPresupuestos' | translate }}</span>
                </div>
            </div>

        <div class="capaUps" ng-show="mostrarUps">
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">{{ 'Ups.ups' | translate }}UPS!</h1>
            <div class="ups_mensaje">
                <div><span>{{ errorPresupuesto }}</span></div>
            </div>
            <a class="form-control btnGuardar btn btn-success" ng-click="cerrarUps()">{{ 'comunes.volver' | translate }}</a>
        </div>
    </div>

</div>