<div  ng-controller="ayudaController" class="fondoConcurso">
    <!--<div id="miEmpresa" class="capaComunConcurso">-->
	<div id="nuevaPartida" class="capaComunConcurso">
        <accordion>
            <accordion-group is-open="true">
                <accordion-heading>
                    <div><span class="nombrePro">{{ 'Concurso.comoParticipar' | translate }}</span>
                    </div>
                </accordion-heading>              
                <div>
                    <p>
                        <br>
                        {{ 'ComoParticipar.uno' | translate }}
                       <br> <br>
                       {{ 'ComoParticipar.dos' | translate }} 
					    {{fechaInscripcionInicio | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{fechaInscripcionInicio | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{fechaInscripcionInicio | date:'yyyy'}}
					   {{ 'ComoParticipar.dos_dos' | translate }}
					    {{fechaInscripcionFin | date:'dd'}} {{ 'Concurso.bases_04_detalle_02_01' | translate }} {{fechaInscripcionFin | date:'MMMM'}} {{ 'Concurso.bases_04_detalle_02_02' | translate }} {{fechaInscripcionFin | date:'yyyy'}}. 
					   {{ 'ComoParticipar.dos_cuatro' | translate }}
                        <br> <br>
                        {{ 'ComoParticipar.tres' | translate }}
                        <br> <br>
                       {{ 'ComoParticipar.cuatro' | translate }} 
                        <br> <br>
                       {{ 'ComoParticipar.cinco' | translate }} 
                        <br>

                    </p>

                </div>
            </accordion-group>
		<div class="menuOpciones" >
		  <a class="btn btn-success btnGuardar btn-registro" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
		</div>
    </div>
    <!--<div class="menuOpciones" >
	  <a class="btn btn-success btnGuardar btn-registro" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
	</div>-->
</div>


