<div class="fondoNuevaPartida" ng-controller="concursoFaseFinalController">
    <div id="nuevaPartida" class="capaNuevaPartida faseFinal">
        <div class="titulo">{{ 'FaseFinal.faseFinal' | translate }}</div>
        <div class="groupOptions">
            
			<div class="detalle" ng-class="{gris:!accesoFinal}">
				<!-- <img src="img/FaseFinal_VERDE_icono.svg"> -->
				<span class="optionsText"  ng-show="accesoFinal" ng-hide="!accesoFinal"> <strong>{{fase.maxDecisionesEmpresa}} {{ 'Partida.decisiones' | translate }}</strong></span>
			</div>
			<div class="separador" ng-show="accesoFinal" ng-hide="!accesoFinal" ></div>
			 <div class="groupOptionsText groupMulti" style="width:100%" ng-show="accesoFinal" ng-hide="!accesoFinal" >
                 <div style="text-align:center;width:100%">
					<span class="" >{{ 'LigaNacional.dispones' | translate }}</span><br>
				</div>
				<div style="text-align:center;width:100%">
					<span class="" ng-disabled="!checked">{{ 'Partida.seleccionaMercadoMulti_tres' | translate }}</span>
				</div>
                <div class="text-center" >	
					<img class="tiempoMultijugador" src="img/Bombilla_Tiempo.gif"/>			
				</div>
				<div class="text-center">	
					<span class="" ><strong> {{fase.duracionDecision}} {{ 'LigaNacional.horas' | translate }}</strong></span>
				</div>
				<div class="text-center">	
					<span class="" >  {{ 'Partida.seleccionaMercadoMultiDecision' | translate }}</span>
				</div>
			</div>
			<div class="separador" ng-show="!comenzado" ng-hide="comenzado" ></div>
			<div class="groupOptionsText groupMulti" style="width:100%">
				<div class="text-center" ng-show="!comenzado" ng-hide="(comenzado || !accesoFinal)">
					<span class="" >
						{{ 'Concurso.faseFinal_avisoComienzo_01' | translate }} {{fechaInicio | date:'dd'}} {{ 'Concurso.faseFinal_avisoComienzo_02' | translate }} {{fechaInicio | date:'MMMM'}} {{ 'Concurso.faseFinal_avisoComienzo_02' | translate }} {{fechaInicio | date:'yyyy'}}
					</span>
				</div>
				<div class="text-center" ng-show="!accesoFinal" ng-hide="accesoFinal">
					<span class="aviso" >
						{{ 'Alertas.concursoFaseFinalNoClasificado' | translate }}
					</span>
				</div>
			</div>
        </div>        
        <div class="groupOptions">
            <a class="btn btn-success btnGuardar" ng-disabled="(!comenzado||!accesoFinal)" ng-click="cargarPartidaConcurso()" >{{ 'comunes.continuarMin' | translate }}</a>
              <a class="btn btn-success btnGuardar btn-registro" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
        </div>


    </div>
</div>


