p { text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000} 
.txtNormal { text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #FFFFFF} 
.txtTitulo { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #990000; font-weight: bold} 
a.link2:link { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366; text-decoration: underline } 
a.link2:hover { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366; text-decoration: underline} 
li { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align: left} 
ul { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align: left} 
ol { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align: left} 
td { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 } 
.txtSmall { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000 } 
.txtSubtitulo { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #194580; font-weight: bold} 
.txtSubtitulo_rojo { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #990000; font-weight: bold} 
a.link1:link { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #00579D; text-decoration: none } 
a.link1:hover { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #00579D; text-decoration: underline;}
.txtNormal4 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; font-weight: bold } 
.boldgris { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; font-weight: bold }
.boldazul { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #194580; font-weight: bold }
.txtjustify { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; text-align: justify}
.boldrojo { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; font-weight: bold }
b {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold}
.tdFondo1 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #194580; font-weight: bold ; background-color: #F4F4F4}
.tdFondo2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #F4F4F4}
.boldnaranja {	font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; color: #CC6600 }
.txtSubtitulo_verde {
font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999900; font-weight: bold
}
.tdFondo3 {
font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: bold ; background-color: #999900
}
.tdFondo4 {
font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #999900; font-weight: bold ; background-color: #F4F4F4
}
