<div ng-controller="balanceController">
    <div id="balance" class="capaComun">

        <div id="activo">
            <div class="migas">
                <span>{{ 'migasPan.miEmpresa' | translate }} > </span> {{ 'Balance.balance' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/>
            </div>
            <div class="mesJornada">
				<i ng-click="historico(-1)" class="glyphicon" ng-class="{true: 'glyphicon-chevron-left', false: ''}[dataBwdAvailable]"></i>
				<span>{{mesVisualizado}}</span>
				<i ng-click="historico(1)" class="glyphicon" ng-class="{true: 'glyphicon-chevron-right', false: ''}[dataFwdAvailable]"></i>			
			</div>

            <table id="balanceActivo" class="table">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'Balance.activo' | translate }}</th>

                    </tr>
                </thead>
                <tbody>

                    <tr ng-click="isOpen=!isOpen">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpen, 'glyphicon-chevron-down': !isOpen}"></i>{{ 'Balance.activoNoCorriente' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.activoNoCorriente" >{{balanceInfo.activoNoCorriente }}</td>
                    </tr>
                    <tr ng-if="isOpen">
                        <td>{{ 'Balance.inmoMaterial' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1 ng-model="balanceInfo.material" >{{balanceInfo.material }}</td>
                    </tr>
					<tr ng-if="isOpen">
						<td class="subseccion">{{ 'Balance.mobiliario' | translate }}</td>
						<td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.BA03" >{{balanceInfo.BA03 }}</td>
					</tr>
					<tr ng-if="isOpen">
						<td class="subseccion">({{ 'Balance.amorAcumulada' | translate }})</td>
						<td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.BA04" >{{balanceInfo.BA04 }}</td>
					</tr>
					<tr ng-if="isOpen">
						<td class="subseccion">{{ 'Balance.instTecnicas' | translate }}</td>
						<td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.BA05" >{{balanceInfo.BA05 }} </td>
					</tr>
					<tr ng-if="isOpen">
						<td class="subseccion">({{ 'Balance.amorAcumulada' | translate }})</td>
						<td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.BA06" >{{balanceInfo.BA06 }}</td>
					</tr>

                    <tr ng-click="isOpenC=!isOpenC">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenC, 'glyphicon-chevron-down': !isOpenC}"></i>{{ 'Balance.activoCorriente' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.activoCorriente" >{{balanceInfo.activoCorriente }} </td>
                    </tr>
                    <tr ng-if="isOpenC">
                        <td>{{ 'Balance.otroCred' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.BA22" >{{balanceInfo.BA22 }}</td>
                        <!--BA22 es nuevo, no existe todavía -->
                    </tr>
					<tr ng-if="isOpenC">
						<td class="">{{ 'Balance.clientesVent' | translate }}</td>
						<td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.BA11" >{{balanceInfo.BA11 }} </td>
					</tr>
					<tr ng-if="isOpenC">
						<td class="">{{ 'Balance.inverFinCorto' | translate }}</td>
						<td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.BA12" >{{balanceInfo.BA12 }}</td>
					</tr>
					<tr ng-if="isOpenC">
						<td class="" >{{ 'Balance.tesoreria' | translate }}</td>
						<td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.tesoreria" >{{balanceInfo.tesoreria }}</td>
					</tr>
                    <tr class="fondoActivoTotal">
                        <td>{{ 'Balance.totalActivo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.Totalactivo" >{{balanceInfo.Totalactivo }}</td>
                    </tr>
                </tbody>

            </table>

            <table id="balancePasivo" class="table">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'Balance.patrimonioNetopasivo' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="isOpenPN=!isOpenPN">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenPN, 'glyphicon-chevron-down': !isOpenPN}"></i>{{ 'Balance.patrimonioNeto' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.PATRIMONIONETO" >{{balanceInfo.PATRIMONIONETO }} </td>
                    </tr>
                        <tr ng-if="isOpenPN">
                            <td>{{ 'Balance.capital' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.Capital" >{{balanceInfo.Capital }}</td>
                        </tr>
                        <tr ng-if="isOpenPN">
                            <td>{{ 'Balance.resultadosPerAnt' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.ResultadosAnteriores" >{{balanceInfo.ResultadosAnteriores }} </td>
                        </tr>
                        <tr ng-if="isOpenPN">
                            <td>{{ 'Balance.resultadosPeriodo' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.ResultadoPeriodo" >{{balanceInfo.ResultadoPeriodo }} </td>
                        </tr>
                    <tr ng-click="isOpenPNC=!isOpenPNC">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenPNC, 'glyphicon-chevron-down': !isOpenPNC}"></i>{{ 'Balance.pasivoNoCorriente' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.PASIVONOCORRIENTE" >{{balanceInfo.PASIVONOCORRIENTE }} </td>
                    </tr>
                        <tr ng-if="isOpenPNC">
                            <td >{{ 'Balance.deudasLargoPlCred' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.DeudasLPentidadescred" >{{balanceInfo.DeudasLPentidadescred }} </td>
                        </tr>
                    <tr ng-click="isOpenPC=!isOpenPC">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenPC, 'glyphicon-chevron-down': !isOpenPC}"></i>{{ 'Balance.pasivoCorriente' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.PASIVOCORRIENTE" >{{balanceInfo.PASIVOCORRIENTE }} </td>
                    </tr>
                        <tr ng-if="isOpenPC">
                            <td >{{ 'Balance.deudasCortoPlCred' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.DeudasCPentidadescred" >{{balanceInfo.DeudasCPentidadescred }} </td>
                        </tr>
                        <tr ng-if="isOpenPC">
                            <td>{{ 'Balance.acreedoresCom' | translate }}</td>
                            <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.Acreedorescomerciales" >{{balanceInfo.Acreedorescomerciales }} </td>
                        </tr>
                            <tr ng-if="isOpenPC">
                                <td class="subseccion" >{{ 'Balance.proveedoresInm' | translate }}</td>
                                <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.ProveedoresInmovilizado" >{{balanceInfo.ProveedoresInmovilizado }} </td>
                            </tr>
                    <tr class="fondoPatrimonioTotal">
                        <td>{{ 'Balance.totalPatrimonioNetPas' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="balanceInfo.TotalPNP">{{balanceInfo.TotalPNP }} </td>
                    </tr>

                </tbody>

            </table>
        </div>
        <div>
            <div class="izq">
                <div class="tituloGrafica verde">
                    <h3>{{ 'Balance.activo' | translate }}</h3>
                </div>
                <div class="capaCanvas">
                    <canvas id="chart" width="100" height="100"></canvas>
                </div>
                <div class="leyenda">
                    <div class="cuadradito fondoVerdeClarito"></div>{{ 'Balance.activoNoCorMin' | translate }}</br>
                    <div class="cuadradito fondoVerde"></div>{{ 'Balance.activoCorMin' | translate }}</br>
                </div>
            </div>
            <div class="dcha">
                <div class="tituloGrafica">
                    <h3>{{ 'Balance.pNetPas' | translate }}</h3>
                </div>
                <div class="capaCanvas1">
                    <canvas id="chart1" width="100" height="100"></canvas>
                </div>
                <div class="leyenda">
                    <div class="cuadradito fondoOscuro"></div>{{ 'Balance.patrimonioNetoMin' | translate }}</br>
                    <div class="cuadradito fondoClarito"></div>{{ 'Balance.pasivoNoMin' | translate }}</br>
                    <div class="cuadradito fondoGris"></div>{{ 'Balance.pasivoCorrMin' | translate }}</br>

                </div>
            </div>

        </div>
    </div>



</div>