<!--<img id="bg" src="img/foto_fondoMovil.jpg" alt="Fondo" />-->
<div id="menuOpciones" class="fondoConcurso" ng-controller="concursoController">
    <div class="menuOpciones">
		<a class="form-control btnGuardar btn btn-success" href="#/comoParticipar" >{{ 'Concurso.comoParticipar' | translate }} </a>
		<a class="form-control btnGuardar btn btn-success" href="#/premios" >{{ 'Concurso.premios' | translate }} </a>
		<a class="form-control btnGuardar btn btn-success" ng-click="navegarBasesCalendario()" >{{ 'Concurso.basesCalendario' | translate }}</a>
		<a class="form-control btn btn-success btnGuardar" ng-show="!dentroEpocaRegistro" ng-hide="dentroEpocaRegistro" href="#/rankingConcurso">{{ 'MenuPrincipal.ranking' | translate }}</a>
		<!--<a class="form-control btn btn-success btnGuardar" href="#/logros">{{ 'Concurso.logros' | translate }}</a>-->
		<a class="form-control btn btn-success btnGuardar" ng-show="!dentroEpocaRegistro" ng-hide="dentroEpocaRegistro" ng-disabled="!accesible" ng-click="epocaConcursoFase()">{{ 'Concurso.Acceder' | translate }}</a>

		<a class="form-control btn btn-success btnGuardar" ng-show="dentroEpocaRegistro" ng-hide="!dentroEpocaRegistro" ng-disabled="registrado" ng-click="epocaConcursoFase()">{{ 'Concurso.Registrarse' | translate }}</a>
		
		<a class="btn btn-success btnGuardar" ng-click="volverEmprende()" href="#/menuPrincipal">{{ 'Ranking.volver' | translate }}</a>

    </div>
    <div class="cerraSesion">
        <!--<a class="form-control btnGuardar btn btn-success " ng-click="logout();">Cerrar sesión </a>-->
        <!--<a ng-show="android" class="form-control btnGuardar btn btn-success " ng-click="salir()">{{ 'MenuPrincipal.salir' | translate }} </a>-->
    </div>
</div>