<div ng-controller="menuPrincipalController" id="ayudaConfigurar" class="fondo">

    <div class="menuOpciones ayudaTexto">
        <div class="primerosPasos"> <span class="verde">{{ 'ayudaConfiguración.primerosPasos' | translate }}</span></div>
        <p>
            {{ 'ayudaConfiguración.parrafoUno' | translate }}
            <br>
            {{ 'ayudaConfiguración.parrafoDos' | translate }}
           <span class="verde">{{ 'comunes.pasarMes' | translate }}.</span>
        </p>
        <p class="capaNoMostrar centrado">
            <input id="noMostrar" name="noMostrar" ng-model="noMostrar" type="checkbox"/>{{ 'ayudaConfiguración.noMostrarMas' | translate }}
        </p>
        <p class="capaNoMostrar">{{ 'ayudaConfiguración.parrafoTres' | translate }}</p>

    </div>
    <div class="centrado capaGuardar ayudaTexto">
        <button class="form-control btnGuardar btn btn-success btnContAyuda" ng-click="continuar();">{{ 'comunes.continuar' | translate }}</button>
    </div>
    <div class="cerraSesion cerrarLogoAyudas">
        <img class="logoUniAyuda" src="img/LogoSantanderUniv_Transparente.png"/>
    </div>

</div>