<div ng-controller="informacionController" class="ups">
    <div class="capaComun capanInformacion">
        <img class="ups_img" src="img/circuloROJO_Info.gif"/>
        <div class="tituloInfor">{{ pantalla }}<span class="ups_titulo">{{ nombre }}</span></div>
        <div class="ups_mensaje">
            <p>{{ parrafo_uno }}</p>
            <p>{{ parrafo_dos }}</p>
        </div>
        <a class="form-control btnGuardar btn btn-success" ng-click="volver()">{{'comunes.volver' | translate}}</a>



    </div>

</div>
