<div ng-controller="informacionController" class="ups">
    <div class="capaComun capanInformacion">
        <img class="ups_img" src="img/circuloROJO_Info.gif"/>
        <div class="tituloInfor"><span class="ups_titulo">{{ 'Informacion.nombrePublcidad' | translate }}</span></div>
        <div class="ups_mensaje">
            <p>{{ 'Informacion.parrafo_unoPublcidad' | translate  }}</p>
            <p>{{ 'Informacion.parrafo_dosPublcidad' | translate  }}</p>
           <ul>
               <li>{{ 'Informacion.parrafo_tresPublicidad' | translate  }}</li>
               <li>{{ 'Informacion.parrafo_cuatroPublicidad' | translate  }}</li>
               <li>{{ 'Informacion.parrafo_quintoPublicidad' | translate  }}</li>
           </ul>
            <p>{{ 'Informacion.parrafo_podrasPublicidad' | translate  }}</p>
        </div>
        <a class="form-control btnGuardar btn btn-success" ng-click="volver()">{{'comunes.volver' | translate}}</a>



    </div>

</div>
