<div ng-controller="inversionesFiController">
    <div class="inversiones capaComun">
        <div class="migas"><span>{{ 'migasPan.financiera' | translate }} > </span> {{ 'InversionesFinancieras.inversionesFinancieras' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>
        <div class="saldo" > <span> {{ 'InversionesFinancieras.saldoBancario' | translate }}:</span> <span  ng-currency ng-model="cantidadDisponible" sin-decimales=1 > {{cantidadDisponible }}</span></div>
        <ul class="acordeon">
            <accordion close-others="true">
                <li ng-repeat="fondo in fondosInfo.fondosinversion">
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                            <div class="nombreRenta">{{nombresRenta[fondo.idTipoFondosInversion - 1] }}</div>
                            <div ng-if="!fondo.ImporteActual" ng-init="fondo.ImporteActual=0"><span>{{ 'InversionesFinancieras.importeAct' | translate }}:</span> <span class="verde" ng-currency ng-model="fondo.ImporteActual" sin-decimales=1 >{{fondo.ImporteActual}}</span></div>
                            <div ng-if="fondo.ImporteActual"> <span>{{ 'InversionesFinancieras.importeAct' | translate }}:</span> <span class="verde" ng-currency ng-model="fondo.ImporteActual" sin-decimales=1>{{fondo.ImporteActual}}</span></div>
                            <div><span>{{ 'InversionesFinancieras.rentabilidadUlt' | translate }}:</span> <span class="verde" >{{fondo.rentabilidad | number:2 }} % </span></div>
                        </accordion-heading>
                        <form class="rentaV" name="rentaV">
                            <div class="importAct" ng-if="!fondo.ImporteAnterior" ng-init="fondo.ImporteAnterior=0"><span>{{ 'InversionesFinancieras.importeAnterior' | translate }}:</span> <span class="verde" ng-currency ng-model="fondo.ImporteAnterior" sin-decimales=1 >{{ fondo.ImporteAnterior}} </span></div>
                            <div class="importAct" ng-if="fondo.ImporteAnterior"><span>{{ 'InversionesFinancieras.importeAnterior' | translate }}:</span> <span class="verde" ng-currency ng-model="fondo.ImporteAnterior" sin-decimales=1 >{{ fondo.ImporteAnterior}} </span></div>
                            <div class="compraVenta">
                                <div class="izqCV"><span>{{ 'InversionesFinancieras.comprar' | translate }}</span> <input select-on-click type="tel" ng-init="compConvertido=0" class="form-control" name="comprarConvertido" ng-model="compConvertido" ng-currency campo-editable customer-info="comp" sin-decimales=1 /></div>
                                <div class="dchaCV"><span>{{ 'InversionesFinancieras.vender' | translate }}</span> <input select-on-click type="tel" ng-init="vendConvertido=0" class="form-control" name="venderConvertido" ng-model="vendConvertido" ng-currency campo-editable customer-info="vend" sin-decimales=1 /></div>
                            </div>
                            <div class="capaBoton botonInversiones">
								<div class="col-md-6 col-sm-6">
									<button class="form-control btnGuardar btn btn-success" ng-click="guardarFI(fondo, comp, vend, false)"  type="submit">{{ 'InversionesFinancieras.comprar' | translate }}</button>
								</div>
								<div class="col-md-6 col-sm-6">
									<button class="form-control btnGuardar btn btn-success" ng-click="guardarFI(fondo, comp, vend, true)"  type="submit">{{ 'InversionesFinancieras.vender' | translate }}</button>
								</div>
                            </div>

                        </form>
                    </accordion-group>
                </li>
            </accordion>
        </ul>
        <div class="capaCanvasInv">
            <canvas id="chartLine" class="grafifasAncho "></canvas>
        </div>
        <div class="leyenda" ng-show="showLeyendas">
            <div class="cuadradito fondoAzul"></div>{{ 'InversionesFinancieras.rentaFija' | translate }}</br>
            <div class="cuadradito fondoVerdeRenta"></div>{{ 'InversionesFinancieras.rentaMixta' | translate }}</br>
            <div class="cuadradito fondoRosa"></div>{{ 'InversionesFinancieras.rentaVariable' | translate }}</br>

        </div>

        <div class="capaUps" ng-show="mostrarUps">
            <img class="ups_img" src="img/cuore_Ups.gif"/>
            <h1 class="ups_titulo">UPS!</h1>
            <div class="ups_mensaje">
                <div><span>{{ errorIfSaldoBancario }}</span></div>
                <div><span>{{ errorIfImporteAlto }}</span></div>

            </div>
            <a class="form-control btnGuardar btn btn-success" ng-click="cerrarUps()">{{ 'comunes.volver' | translate }}</a>
        </div>
    </div>


</div>