<div ng-controller="necesidadesController">
    <div id="prestamos" class="proveedores capaComun">
        <div class="migas"><span>{{ 'migasPan.compras' | translate }} > </span>{{ 'Necesidades.necesidadesMigas' | translate }} <img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <div class="mesJornada"> <span>{{mesVisualizadoGeneral}}</span></div>

            <div class="necesidades">
                <div class="menuTitulo">
                    <span>{{ 'Necesidades.necesidades' | translate }}</span>
                </div>
                <div class="tablaPro">
                    <table id="proveedoresTable" class="table" style="margin-bottom: 5px;">
                        <thead>
                        <tr>
                            <td></td>
                            <td>{{ 'Necesidades.necesarias' | translate }}</td>
                            <td>{{ 'Necesidades.adquiridas' | translate }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="proveedor in proveedoresMaterialInfo">
                            <td>{{nombresProDispoMaterial[proveedor.idProducto - 1]}}</td>
                            <td>{{proveedor.necesario}}</td>
                            <td>{{proveedor.adquirido}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>

    </div>

</div>