<div  ng-controller="pasoJornadaController">
    <div id="pasoJornada" class="capaPasoJornada" >
		<div class="titulo">{{'Alertas.TituloPasoJornada' | translate}}</div>
		<div class="imagenPasoJornadaMulti">
			<img src="img/Circu_info_PasarJornada.gif"/>
		</div>
		<div class="groupOptions">
			<div class="groupOptionsText">
				<p ng-show="visible" class="optionsText"> {{'Partida.pasoJornadaMultiUno' | translate}}</p>			
				<p ng-show="!visible" class="optionsText"> {{'Partida.pasoJornadaMultiDos' | translate}}</p>
			</div>
			<div class="contador">
				<timer language="en" countdown="30" interval="1000" finish-callback="finished()">
					<div class="progress progress-striped active {{displayProgressActive}}" style="height: 25px;"> 					
						<div class="bar" style="min-width: 2em;width: {{progressBar}}%;"></div>
					</div>
				</timer> 
			</div>
			<div class="separador"></div>
		</div>
		
		
		<div class="groupOptions">
			
			<div id="sugerencias" class="optionsText" style="height:80px">
				<timer language="en" countdown="4" interval="1000" finish-callback="showRandomHint(this)"><span></span></timer> 			
				<span class="tip optionsText" >{{pista}}</span>			
			</div>
		</div>
		
		<div class="groupOptions">
            <a class="btn btn-success btnGuardar" ng-click="volver()">{{ 'comunes.volver' | translate }}</a>
        </div>
    </div>

</div>



