<div ng-controller="pygController">
    <div id="pyg" class="capaComun">

        <div id="activo">
            <div class="migas"><span>{{ 'migasPan.miEmpresa' | translate }} > {{ 'PyG.migasTitulo' | translate }}</span><img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()" /></div>

            <div class="mesJornada">
                <i ng-click="historico(-1)" class="glyphicon" ng-class="{true: 'glyphicon-chevron-left', false: ''}[dataBwdAvailable]"></i>
                <span>{{mesVisualizado}}</span>
                <i ng-click="historico(1)" class="glyphicon" ng-class="{true: 'glyphicon-chevron-right', false: ''}[dataFwdAvailable]"></i>
            </div>

            <table id="balanceActivo" class="table">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'PyG.operacionesContinuadas' | translate }}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ 'PyG.importeNeto' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  sin-decimales=1  ng-model="pygInfo.ImpNetCifraNeg" >{{pygInfo.ImpNetCifraNeg }} </td>
                    </tr>

                    <tr ng-click="isOpen=!isOpen">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpen, 'glyphicon-chevron-down': !isOpen}"></i>{{ 'PyG.gastosDePersonal' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  sin-decimales=1  ng-model="pygInfo.GastosPersonal" >{{pygInfo.GastosPersonal }} </td>
                    </tr>
                    <tr ng-if="isOpen">
                        <td class="subseccion">{{ 'PyG.sueldosSalariosCargasSociales' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.SueldosCargasSoc" >{{pygInfo.SueldosCargasSoc }} </td>
                    </tr>
                    <tr ng-if="isOpen">
                        <td class="subseccion">{{ 'PyG.gastosDeContratacion' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.GastosContrat" >{{pygInfo.GastosContrat }} </td>
                    </tr>
                    <tr ng-if="isOpen">
                        <td class="subseccion">{{ 'PyG.indemnizacionesPorDespidos' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.IndemDesp" >{{pygInfo.IndemDesp }} </td>
                    </tr>
                    <tr ng-if="isOpen">
                        <td class="subseccion">{{ 'PyG.formacion' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.Formac">{{pygInfo.Formac }} </td>
                    </tr>
                    <tr ng-click="isOpenC=!isOpenC">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenC, 'glyphicon-chevron-down': !isOpenC}"></i>{{ 'PyG.otrosGastosTitulo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.Otrosgastos" >{{pygInfo.Otrosgastos }} </td>
                    </tr>
                    <tr ng-if="isOpenC">
                        <td class="subseccion">{{ 'PyG.alquilerDelLocal' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.AllquilerLocal" >{{pygInfo.AllquilerLocal }} </td>
                    </tr>
                    <tr ng-if="isOpenC">
                        <td class="subseccion">{{ 'PyG.publicidad' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.Publicidad" >{{pygInfo.Publicidad }} </td>
                    </tr>
                    <tr ng-if="isOpenC">
                        <td class="subseccion">{{ 'PyG.administracion' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.Admin" >{{pygInfo.Admin }} </td>
                    </tr>

                    <tr ng-click="isOpenAm=!isOpenAm">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenAm, 'glyphicon-chevron-down': !isOpenAm}"></i>{{ 'PyG.amortizacionTitulo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.AmortInmov" >{{pygInfo.AmortInmov }} </td>
                    </tr>
                    <tr ng-if="isOpenAm">
                        <td class="subseccion">{{ 'PyG.mobiliario' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.Mobiliario" >{{pygInfo.Mobiliario }} </td>
                    </tr>
                    <tr ng-if="isOpenAm">
                        <td class="subseccion">{{ 'PyG.Instalaciones' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.InstalacionesOtroInmov" >{{pygInfo.InstalacionesOtroInmov }} </td>
                    </tr>
                    <tr ng-click="isOpenR=!isOpenR">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenR, 'glyphicon-chevron-down': !isOpenR}"></i>{{ 'PyG.resultadoTitulo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.ResultSubvInm" >{{pygInfo.ResultSubvInm }} </td>
                    </tr>
                    <tr ng-if="isOpenR">
                        <td class="subseccion">{{ 'PyG.ingresosDeSubvenciones' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.IngSubCap" >{{pygInfo.IngSubCap }} </td>
                    </tr>

                    <tr class="fondoActivoTotal">
                        <td>{{ 'PyG.resultadoDeExplotacionTitulo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.RESULTEXPLOT" >{{pygInfo.RESULTEXPLOT }} </td>
                    </tr>

                    <tr ng-click="isOpenIFinacieros=!isOpenIFinacieros">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenIFinacieros, 'glyphicon-chevron-down': !isOpenIFinacieros}"></i>{{ 'PyG.ingresosFinancierosTitulo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.IngresFin" >{{pygInfo.IngresFin }} </td>
                    </tr>
                    <tr ng-if="isOpenIFinacieros">
                        <td class="subseccion">{{ 'PyG.rendimiento' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.RendIFLP" >{{pygInfo.RendIFLP }} </td>
                    </tr>

                    <tr ng-click="isOpenGF=!isOpenGF">
                        <td><i class="glyphicon" ng-class="{'glyphicon-chevron-up': isOpenGF, 'glyphicon-chevron-down': !isOpenGF}"></i>{{ 'PyG.gastosTitulo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.GastosFin" >{{pygInfo.GastosFin }} </td>
                    </tr>
                    <tr ng-if="isOpenGF">
                        <td class="subseccion">{{ 'PyG.interesesDeDeudasLargo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.IntLPEC" >{{pygInfo.IntLPEC }} </td>
                    </tr>
                    <tr ng-if="isOpenGF">
                        <td class="subseccion">{{ 'PyG.interesesDeDeudasCorto' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.IntCPEC" >{{pygInfo.IntCPEC }} </td>
                    </tr>
                    <tr>
                        <td>{{ 'PyG.variacionTitulo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.VarValor" >{{pygInfo.VarValor }} </td>
                    </tr>
                    <tr class="fondoActivoTotal">
                        <td>{{ 'PyG.resultadoFinanciero' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.RESULTFIN" >{{pygInfo.RESULTFIN }} </td>
                    </tr>
                    <tr class="fondoActivoTotal">
                        <td>{{ 'PyG.resultadoAntesImpuestos' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.RESULTPREIMPUESTOS">{{pygInfo.RESULTPREIMPUESTOS }} </td>
                    </tr>
                    <tr>
                        <td>{{ 'PyG.impuestosSobreBeneficios' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.ImpBeneficios" >{{pygInfo.ImpBeneficios }} </td>
                    </tr>
                    <tr class="fondoActivoTotal">
                        <td>{{ 'PyG.resultadoDelPeriodo' | translate }}</td>
                        <td class="alignRight" ng-currency sin-decimales=1  ng-model="pygInfo.RESULTPERIODO" >{{pygInfo.RESULTPERIODO }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>