
        body {
        	background-color:white;
        	font-family : arial;
        	color:black;
        	}
        
        .metadata-curso {        
        	font-weight : bold;
        	font:italic;
        	font-size: 12px;
        	}
        .titulo-curso {        
        	font-weight : bold;
		text-decoration:underline;
        	font-size: 16px;
        	}
	.titulo-bloque {
        	font-weight : normal;
        	font-size: 11px;        
        	}        
        .item,
        .item:link,
        .item:visited,
        .item:active,
        .item:hover {
        	font-weight : normal;
        	font-size : 11px;
        	}

        .metadata-description {
        	font-weight : bold;
        	font: italic ;
        	font-size: 10px;
		width:50%;
		margin-left:200px;
        	}
   