<div id="menuOpciones" class="fondo" ng-controller="PartidaController">
    <div class="menuOpciones">
        <a class="form-control btnGuardar btn btn-success" ng-click="crearNuevaPartidaSingle();" >{{ 'Partida.single' | translate }} </a>
        <a class="form-control btnGuardar btn btn-success" ng-click="crearNuevaPartidaMulti();">{{ 'Partida.multi' | translate }} </a>
          <a class="btn btn-success btnGuardar" href="#/menuPrincipal">{{ 'Partida.volver' | translate }}</a>
    </div>
      
</div>