<div id="menuOpciones" class="fondoConcurso" ng-controller="registroController">
	<div class="menuOpciones capaLogin">
    
    <div class="tituloLogin">
         <span>{{ 'Login.registro' | translate }}</span>
        </div>
    <div class="formulario">
    	<form class="registroForm " name="formRegistro" ng-model="formRegistro" role="form">
	    	<!-- nombre -->
	    	<input type="text" class="form-control" name="nombre" id="nombre" ng-model="nombre" placeholder="{{ 'Login.nombre' | translate }}" required/>
	    	<!-- apellidos -->
	    	<input type="text" class="form-control" name="apellidos" id="apellidos"  ng-model="apellidos" placeholder="{{ 'Login.apellidos' | translate }}"  required/>
	        <!-- Email -->
	        <input type="email" class="form-control" name="email" id="email"  ng-model="email" placeholder="{{ 'Login.email' | translate }}" required/>
	        <input type="email" class="form-control" name="emailRepite" id="emailRepite"  ng-model="emailRepite" placeholder="{{ 'Login.repiteEmail' | translate }}" required/>
	        <p ng-show="!emailOK && formSubmitted" class="avisoRed">{{ 'Login.emailNoCoincide' | translate }}</p>
	        <!-- Paises -->
	        <select class="form-control" name="pais" id="pais"  ng-model="pais" required>
	        	<option value="" selected>{{ 'Login.pais' | translate }}</option>  
	        	<option ng-repeat="pais in paises" value="{{pais.idPais}}" >{{pais.nombre}}</option>  
	        
	        </select>
	        <!-- Nick -->
	         <input type="text" class="form-control" name="nick" id="nick" ng-model="nick" placeholder="{{ 'Login.nick' | translate }}" required/>
	         <!-- password -->
			<input type="password" class="form-control" name="password" id="password" ng-model="passwordRe" placeholder="{{ 'Login.contraseña' | translate }}" required/>
			<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" placeholder="{{ 'Login.repiteContraseña' | translate }}" required/>
			<p ng-show="!passOK && formSubmitted" class="avisoRed">{{ 'Login.contraseñasNoCoincide' | translate }}</p>

	        <button class="btn-registro form-control btn btn-success" ng-click="registro()"  type="submit" ng-disabled="!formRegistro.$valid">{{ 'Login.registro' | translate }}</button>

    </form>

    </div>
    <a class="btn btn-success btnGuardar btn-registro" href="#/concurso">{{ 'Ranking.volver' | translate }}</a>
    </div>
</div>


