<div ng-controller="subvencionesController">
    <div id="subvenciones" class="capaComun">
        <div class="migas"><span>{{ 'migasPan.financiera' | translate }} > </span> {{ 'Subvenciones.subvenciones' | translate }}<img class="ayuda" src="img/ico_INFO.png" ng-click="pantallaInformacion()"/></div>
        <!--  <div class="saldo">Importe máximo {{importeMax }}  €</div>-->
        <!--/*Pedir préstamos*/-->
        <div ng-show="!showActions" ng-swipe-left="showActions = true" class="capaSuvenciones">
            <div class ="galeria">
                <span>{{mesVisualizadoGeneral}}</span><img src="img/galeria_1.jpg"/>
            </div>

            <div class="menuPrestamos">
                <div class="menuTitulo">
                    <span>{{ 'Subvenciones.menuTitulo' | translate }}</span>
                </div>
            </div>
            <div class="pedirPrestamos">
                <div class="capaPrestamos">
                    <ul class="acordeon">
                        <accordion close-others="true">
                            <li ng-repeat="subvencion in SubvencionInfo">
                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        <div class="presupuestoDetalle">
                                            <div><span class="izqSb">{{'Subvenciones.importeMaximo' | translate}}: </span><span class="dchaSb" ng-currency ng-model="subvencion.importeMaximo" sin-decimales=1 > {{subvencion.importeMaximo}}  </span></div>
                                            <div><span class="izqSb">{{'Subvenciones.porcentExito' | translate}}: </span><span class="dchaSb"> {{subvencion.exito * 100}} %</span></div>
                                            <div><span class="izqSb">{{'Subvenciones.tiempoConcesion' | translate}}: </span><span class="dchaSb"> {{subvencion.momentoConcesion - momentoGeneral}}</span></div>
                                            <div><span class="izqSb">{{'Subvenciones.tiempoExito' | translate}}: </span><span class="dchaSb"> {{subvencion.momentoCobro - momentoGeneral}}</span></div>

                                            <div class="capaBoton">
                                                <button class="form-control btnGuardar btn btn-success btSubvencion" ng-click="solicitarSubvencion(subvencion)"  type="submit">{{ 'Subvenciones.pedirSubvencion' | translate }}</button>
                                            </div>
                                        </div>
                                    </accordion-heading>
                                </accordion-group>
                            </li>
                            <div class="nosubvencion" ng-show="ningunaSubvencion">
                                <span class="noSubvencion">{{ 'Subvenciones.sinSubvencion' | translate }}</span>
                            </div>

                        </accordion>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-show="showActions" ng-swipe-right="showActions = false" class="capaSuvenciones">
            <div class ="galeria">
                <span>{{mesVisualizadoGeneral}}</span><img src="img/galeria_2.jpg"/>
            </div>
            <div class="menuPrestamos">
                <div class="menuTitulo">
                    <span>{{ 'Subvenciones.solicitadasTitulo' | translate }}</span>
                </div>
            </div>
            <div class="contrataPrestamo">
                <ul class="acordeon">

                    <accordion close-others="true">

                        <li ng-repeat="subvecionesSolicitada in SubvencionSolicitadaInfo">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    <div ng-switch on="subvecionesSolicitada.estado">
                                        <div ng-switch-when="1">
                                            <div><span>{{ 'Subvenciones.publicadaEn' | translate }}: </span><span class="verde bold">{{devolverMes( momentoBase + (subvecionesSolicitada.momentoAparicion*1) )}}</span></div>
                                            <div><span>{{ 'Subvenciones.exito' | translate }}: {{subvecionesSolicitada.exito * 100}} %</span></div>
                                            <div><span>{{ 'Subvenciones.mesConcesion' | translate }}: {{devolverMes( momentoBase + (subvecionesSolicitada.momentoConcesion*1))}} </span></div>
                                            <div><span>{{ 'Subvenciones.mesCobro' | translate }}: {{devolverMes( momentoBase + (subvecionesSolicitada.momentoCobro*1))}}</span></div>
                                            <div class="concedida"><span>{{ 'Subvenciones.solicitada' | translate}}</span></div>
                                        </div>
                                        <div ng-switch-when="2">
                                            <div><span>{{ 'Subvenciones.publicadaEn' | translate }}: {{devolverMes( momentoBase + (subvecionesSolicitada.momentoAparicion*1) )}}</span></div>
                                            <div><span>{{ 'Subvenciones.mesCobro' | translate }}: {{devolverMes( momentoBase + (subvecionesSolicitada.momentoCobro*1) )}}</span></div>
                                            <div><span>{{ 'Subvenciones.importe' | translate }}: </span><span ng-currency ng-model="subvecionesSolicitada.importe" sin-decimales=1>{{subvecionesSolicitada.importe }} </span></div>
                                            <div class="concedida"><span class="verde">{{ 'Subvenciones.concedida' | translate}}</span></div>

                                        </div>
                                        <div ng-switch-when="3">
                                            <div><span>{{ 'Subvenciones.publicadaEn' | translate }}: {{devolverMes( momentoBase + (subvecionesSolicitada.momentoAparicion*1) )}}</span></div>
                                            <div class="concedida"><span class="rojo">{{ 'Subvenciones.noConcedida' | translate}}</span></div>
                                        </div>
                                        <div ng-switch-when="4">
                                            <div><span>{{ 'Subvenciones.importe' | translate }}: </span><span ng-currency ng-model="subvecionesSolicitada.importe" sin-decimales=1 >{{subvecionesSolicitada.importe}} </span></div>
                                            <div class="concedida"><span class="verde">{{ 'Subvenciones.cobrada' | translate}}</span></div>
                                        </div>
                                    </div>
                                </accordion-heading>
                            </accordion-group>
                        </li>
                    </accordion>
                </ul>
                <div class="nosubvencion" ng-show="ningunaSubvencionSolicitada">
                    <span class="noSubvencion">{{ 'Subvenciones.noSolicitada' | translate}}</span>
                </div>
            </div>
        </div>
    </div>

</div>